{{! signin Modal }}
<aside class='modal' id='account' aria-expanded='false'>
  <button class='modal__close-btn' data-tt='Close signin' aria-label='close' tabindex="-1">
    <svg aria-hidden='true'>
      <use href='#close'></use>
    </svg>
  </button>
  <div class='modal__container'>
    <h2 class='modal__title'>
      Account
    </h2>

    {{! Logged in, paying member: Show account info }}
    {{#if @member.paid}}
    <article class='modal__card--account'>
      <header class='modal__header--account'>
        <div class='modal__img'>
          <img src="{{@member.avatar_image}}" alt='' />
        </div>
        <div class='modal__name'>
          {{#if @member.firstname}}
          <h3 class='modal__card--title'>
            Hello, {{@member.firstname}}!
          </h3>
          {{else}}
          <h3 class='modal__card--title'>
            Hello!
          </h3>
          {{/if}}
        </div>
      </header>
      <div class='modal__body'>
        <p class="modal__label">Account Email</p>
        <p>{{@member.email}}</p>
      </div>
      <p class="modal__label">Subscription Status</p>
      {{#foreach @member.subscriptions}}
      {{#if cancel_at_period_end}} <p class="modal__account-info">
        Your subscription will expire on {{date current_period_end format='DD MMM YYYY'}}.
      <p class="modal__account-info">
        If you change your mind in the meantime you can turn auto-renew back on to continue your subscription.
      </p>
      {{else}}
      <p class="modal__account-info">
        Your currently have an active subscription to <strong>{{@site.title}}</strong>.</p>
      <p class="modal__account-info">Get in touch if have any
        problems or need some help getting things
        updated, and thanks for subscribing!
      </p>
      {{/if}}
      <p class="modal__label">Billing Information</p>
      <p class="modal__account-info">
        <svg aria-hidden="true">
          <use href="#calendar"></use>
        </svg>
        {{plan.currency_symbol}}{{price plan.amount}}/{{plan.interval}}
      </p>
      <p class="modal__account-info">
        <svg aria-hidden="true">
          <use href="#cc"></use>
        </svg> **** **** **** {{default_payment_card_last4}}
      </p>

      <a class="modal__account-btn" href='javascript:' data-members-edit-billing data-members-success="{{@site.url
}}/?stripe=billing-update-success" data-members-cancel="{{@site.url}}/?stripe=billing-update-cancel" tabindex="-1">
        <svg aria-hidden="true">
          <use href="#edit"></use>
        </svg>
        Edit billing info
      </a>
      <div>
        {{cancel_link class="modal__account-btn--cancel"}}
      </div>

      </ul>
      <div class="divider">
        <div class="divider__rule"></div>
      </div>
      {{/foreach}}
      <footer class='modal__footer'>
        <a class="modal__logout" href='javascript:' data-members-signout tabindex="-1">
          <svg aria-hidden="true">
            <use href="#logout"></use>
          </svg>
          Log out
        </a>
      </footer>
    </article>


    {{!-- Free member: show account info --}}
    {{else if @member}}
    <article class='modal__card--account'>
      <header class='modal__header--account'>
        <div class='modal__img'>
          <img src="{{@member.avatar_image}}" alt='' />
        </div>
        <div class='modal__name'>
          {{#if @member.firstname}}
          <h3 class='modal__card--title'>
            Hello, {{@member.firstname}}!
          </h3>
          {{else}}
          <h3 class='modal__card--title'>
            Hello!
          </h3>
          {{/if}}
        </div>
      </header>
      <div class='modal__body'>
        <p class="modal__label">Account Email</p>
        <p>{{@member.email}}</p>
        <div class="divider">
          <div class="divider__rule"></div>
        </div>
        <p>You currently have a free subscription to {{@site.title}}.</p>
        <p style="margin-top: 1rem">Upgrade to a paid subscription to gain premium access to all content.</p>
      </div>
      <footer class='modal__footer'>
        <button class="modal__upgrade" id="upgrade" data-target="signup" tabindex="-1">
          <svg aria-hidden="true">
            <use href="#user-plus"></use>
          </svg>
          Upgrade Subscription
        </button>
        <div class="divider">
          <div class="divider__rule"></div>
        </div>
        <a class="modal__logout" href='javascript:' data-members-signout tabindex="-1">
          <svg aria-hidden="true">
            <use href="#logout"></use>
          </svg>
          Log out
        </a>
      </footer>
    </article>
    {{else}}
    {{! Not logged in: Redirect to signin }}
    {{/if}}
  </div>
</aside>
{{! End signin Modal }}