<article class="sm-card sm-card-{{@number}} {{slug}}">
    <a class="sm-card-link {{#if horizontal}}sm-card-horizontal{{/if}}" href="{{url}}" aria-label="{{title}}">
        {{#if horizontal}}
            {{#if feature_image}}<img src="{{feature_image}}" alt="">{{/if}}
            <div class="sm-card-body">
                <div>
                    <h2 class="sm-title {{^if feature_image}}large{{/if}} {{#if premiere}}large{{/if}}">{{title}}</h2>
                    {{#if excerpt}}{{^if premiere}}{{^if feature_image}}<p class="sm-excerpt">{{excerpt}}</p>{{/if}}{{/if}}
                    {{#if premiere}}<p class="sm-excerpt">{{excerpt}}</p>{{/if}}{{/if}}
                </div>
                <div class="sm-card-footer">
                    {{#if primary_tag}}<p class="sm-tag">{{primary_tag.name}}</p>{{/if}}
                    <p class="sm-reading-time">{{reading_time}}</p>
                </div>
            </div>
        {{else}}
            <div>
                {{#if feature_image}}<img src="{{feature_image}}" alt="">{{/if}}
                <div class="sm-card-body">
                    <h2 class="sm-title {{^if feature_image}}large{{/if}}">{{title}}</h2>
                    {{^if feature_image}}<p class="sm-excerpt">{{excerpt}}</p>{{/if}}
                </div>
            </div>
            
            <div class="sm-card-footer sm-card-body">
                {{#if primary_tag}}<p class="sm-tag {{primary_tag.slug}}">{{primary_tag.name}}</p>{{/if}}
                <p class="sm-reading-time">{{reading_time}}</p>
            </div>
        {{/if}}
    </a>
</article>