<article class="sm-card  {{slug}}">
    <a class="sm-card__link" href="{{url}}" aria-label="{{title}}">
        <div class="sm-card__img-container {{visibility}}">
            {{#if feature_image}}
            <img class="sm-card__img {{^if featured}}lazyload{{/if}}" {{^if featured}}data-{{/if}}srcset="{{img_url feature_image size="s"}} 300w,
            {{img_url feature_image size="m"}} 600w" {{^if featured}}data-{{/if}}sizes="(max-width: 640px) 90vw,
            600px" {{^if featured}}data-{{/if}}src="{{img_url feature_image size="m"}}" alt="" />
            {{else}}
            <div class="sm-card__no-img"></div>
            {{/if}}
        </div>
        <div class="sm-card__body">
            <p class="sm-card__date" datetime="{{date format='YYYY-MM-DD'}}">{{date format='MMMM DD, YYYY'}}</p>
            <h3 class="sm-card__title">{{title}}</h3>
            {{#primary_tag}}
            <p class="sm-tag {{slug}}">{{name}}</p>
            {{/primary_tag}}
        </div>
    </a>
</article>