{{!-- Footer Module --}}
<footer class="footer--outer-container">
    <div class="footer--inner-container">
        <div class="footer--grid-container">
            <div class="footer__section">
                <p class="footer__header--serif">About</p>
                <a class="footer__link" href="{{@site.url}}">{{@site.title}}</a>
                {{#if @site.description}}
                <p class="footer__description">{{@site.description}}</p>
                {{/if}}
                <div class="footer__social">

                    {{#if @site.twitter}}
                    <a class="navigation__social-media-item twitter" href="{{twitter_url @site.twitter}}"
                        aria-label="Follow {{@site.title}} on Twitter">
                        <svg aria-hidden="true">
                            <use href="#twitter"></use>
                        </svg>
                    </a>
                    {{/if}}
                    {{#if @site.facebook}}
                    <a class="navigation__social-media-item facebook" href="{{facebook_url @site.facebook}}"
                        aria-label="Follow {{@site.title}} on Facebook">
                        <svg aria-hidden="true">
                            <use href="#facebook"></use>
                        </svg>
                    </a>
                    {{/if}}
                    {{#if @site.secondary_navigation}}
                    {{navigation type="secondary"}}
                    {{/if}}
                </div>
            </div>
            {{#get "tags" include="count.posts" filter="name:-publications+name:-presentations+name:-teaching+name:-outreach+name:-dissertation" limit="10" order="count.posts desc"}}
            {{#if tags}}
            <div class="footer__section">
                <p class="footer__header--serif">Tags</p>
                {{#foreach tags}}
                <a class="footer__card-tag" href="{{url}}" aria-label="{{name}}">
                    <svg>
                        <use href="#hash"></use>
                    </svg>
                    <p>
                        {{name}}
                    </p>
                </a>
                {{/foreach}}
            </div>
            {{/if}}
            {{/get}}
            {{#get "posts" limit="6"}}
            <div class="footer__section--latest">
                <p class="footer__header--serif">Latest</p>
                {{#foreach posts limit="3"}}
                <p class="footer__date">
                    <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}
                    </time>
                </p>
                <a class="footer__title" href="{{url}}">{{title}}</a>
                {{/foreach}}
            </div>
            <div class="footer__section--latest">
                <p class="footer__header--serif">&nbsp;</p>
                {{#foreach posts from="4" to="6"}}
                <p class="footer__date"><time
                        datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
                </p>
                <a class="footer__title" href="{{url}}">{{title}}</a>
                {{/foreach}}
            </div>
            {{/get}}
        </div>
    </div>
    <div class="footer__published-by-ghost">
        <p>&copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a> | Designed by <a href="https://ryanfeigenbaum.com">Ryan Feigenbaum</a> |
            Powered by <a href="https://ghost.org/">Ghost</a></p>
    </div>
</footer>
{{!-- Footer --}}