{{!-- Footer Module --}}
<footer class="sm-outer-container--footer">
    <div class="sm-inner-container--footer">
        <div class="sm-grid-container--footer">
            <div class="sm-footer__section">
                <p class="sm-footer__header--serif">About</p>
                <a class="sm-footer__link" href="{{@site.url}}">{{@site.title}}</a>
                {{#if @site.description}}
                <p class="sm-footer__description">{{@site.description}}</p>
                {{/if}}
                <div class="sm-footer__social">
                    {{#if @site.twitter}}
                    <a class="sm-navigation__social-media-item twitter" href="{{twitter_url @site.twitter}}"
                        aria-label="Follow {{@site.title}} on Twitter">
                        <svg aria-hidden="true">
                            <use href="#twitter"></use>
                        </svg>
                    </a>
                    {{/if}}
                    {{#if @site.facebook}}
                    <a class="sm-navigation__social-media-item facebook" href="{{facebook_url @site.facebook}}"
                        aria-label="Follow {{@site.title}} on Facebook">
                        <svg aria-hidden="true">
                            <use href="#facebook"></use>
                        </svg>
                    </a>
                    {{/if}}
                    {{#if @site.secondary_navigation}}
                    {{navigation type="secondary"}}
                    {{/if}}
                </div>
            </div>
            {{#get "tags" include="count.posts" filter="name:-publications+name:-presentations+name:-teaching+name:-outreach+name:-dissertation" limit="10" order="count.posts desc"}}
            {{#if tags}}
            <div class="sm-footer__section">
                <p class="sm-footer__header--serif">Tags</p>
                {{#foreach tags}}
                <a class="sm-tag" href="{{url}}">{{name}}</a>
                {{/foreach}}
            </div>
            {{/if}}
            {{/get}}
            {{#is "home"}}
            <div class="sm-footer__section--latest">
                <p class="sm-footer__header--serif">Latest</p>
                {{#foreach posts from="1" to="3"}}
                <p class="sm-footer__date">
                    <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMM DD, YYYY"}}
                    </time>
                </p>
                <a class="sm-footer__title" href="{{url}}">{{title}}</a>
                {{/foreach}}
            </div>
            <div class="sm-footer__section--latest">
                <p class="sm-footer__header--serif">&nbsp;</p>
                {{#foreach posts from="4" to="6"}}
                <p class="sm-footer__date"><time
                        datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMM DD, YYYY"}}</time>
                </p>
                <a class="sm-footer__title" href="{{url}}">{{title}}</a>
                {{/foreach}}
            </div>
            {{else}}
                {{#get "posts" limit="6"}}
                <div class="sm-footer__section--latest">
                    <p class="sm-footer__header--serif">Latest</p>
                    {{#foreach posts limit="3"}}
                    <p class="sm-footer__date">
                        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMM DD, YYYY"}}
                        </time>
                    </p>
                    <a class="sm-footer__title" href="{{url}}">{{title}}</a>
                    {{/foreach}}
                </div>
                <div class="sm-footer__section--latest">
                    <p class="sm-footer__header--serif">&nbsp;</p>
                    {{#foreach posts from="4" to="6"}}
                    <p class="sm-footer__date"><time
                            datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMM DD, YYYY"}}</time>
                    </p>
                    <a class="sm-footer__title" href="{{url}}">{{title}}</a>
                    {{/foreach}}
                </div>
                {{/get}}
            {{/is}}
        </div>
    </div>
    <div class="sm-footer__published-by-ghost">
        <p>&copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a> &middot; Designed by <a href="https://ryanfeigenbaum.com">Ryan Feigenbaum</a> &middot;
            Powered by <a href="https://ghost.org/">Ghost</a></p>
    </div>
</footer>
{{!-- Footer --}}