<footer class="sm-grid sm-footer-container">
    <div class="sm-footer">
        <div class="sm-footer-info">
            <p class="sm-footer-title">{{@site.title}}</p>
            {{#if @site.description}}<p class="sm-footer-description">{{@site.description}}</p>{{/if}}
            
            <div class="sm-footer-copyright">
                
            </div>
        </div>
        <nav class="sm-footer-secondary-navigation">{{navigation type="secondary"}}</nav>
        <div class="sm-footer-cta">
            <p>Sign up for the newsletter</p>
            <input type="email" placeholder="your email">
            <button class="sm-button-simple">Subscribe</button>
        </div>
    </div>
    <div class="sm-footer-meta">
         {{@site.title}} &copy {{date format="YYYY"}} – <a href="https://ryanfeigenbaum.com">Designed by RWF</a> – <a href="https://ghost.org">Powered by Ghost</a> 
    </div>
</footer>