{{!-- Post, page, index, author, tag --}}
<header class="sm-header-grid{{#if class}} {{class}}{{/if}}">
    <div class="sm-header">
        {{#is "tag"}}<p class="sm-tag-count">{{count}} posts</p>{{/is}}

        {{#if profile_image}}
            <img class="sm-author-profile-image" src="{{img_url profile_image}}" alt="{{name}}">
        {{/if}}
        
        <h1 class="sm-header-title">{{#if title}}{{title}}{{else if name}}{{name}}{{else}}{{meta_title}}{{/if}}</h1>
        
        {{#if custom_excerpt}}<p class="sm-header-excerpt">{{custom_excerpt}}</p>{{/if}}
        
        {{#if description}}
            <p>{{description}}</p>
        {{/if}}

        {{#if location}}<p class="sm-author-location"><svg aria-hidden="true"><use href="#sm-map-icon"></use></svg>{{location}}</p>{{/if}}
        
        {{#if bio}}<p class="sm-header-excerpt">{{bio}}</p>{{/if}}

        {{#has any="twitter,facebook,website"}}
        <div class="sm-header-meta">
            <section class="sm-author-socials">
                <a class="sm-icon-button" href="{{twitter_url}}"><svg aria-hidden="true"><use href="#twitter-icon"></use></svg>{{twitter}}</a>
                <a class="sm-icon-button" href="{{facebook_url}}"><svg aria-hidden="true"><use href="#facebook-icon"></use></svg>{{facebook}}</a>
                <a class="sm-icon-button sm-author-website" href="{{website}}"><svg aria-hidden="true"><use href="#sm-external-link-icon"></use></svg>{{website}}</a>
            </section>
        </div>
        {{/has}}
        
        {{#is "post"}}
        <div class="sm-post-author-block">
            <div class="sm-post-author-profile-image">
                {{~#foreach authors~}}
                    {{~#if profile_image~}}
                    <img src="{{img_url profile_image}}" alt="{{name}}">
                    {{~/if~}}
                {{~/foreach~}}
            </div>
            <div>
                <p>by {{authors}}</p>
                <div class="sm-post-meta">
                    <time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
                    {{#if primary_tag}}<p><a href="{{primary_tag.url}}">{{primary_tag.name}}</a></p>{{/if}}
                    <p class="sm-post-reading-time">{{reading_time}}</p>
                    <button class="sm-post-save-button sm-love-button" data-id="{{slug}}" data-title="{{title}}">
                        <span class="sm-heart-outline-icon">
                            <svg><use href="#sm-heart-outline-icon"></use></svg> Save
                        </span>
                        <span class="sm-heart-fill-icon">
                            <svg><use href="#sm-heart-fill-icon"></use></svg> Saved
                        </span>
                    </button>
                </div>
            </div>
        </div>
        {{/is}}

        {{#if feature_image}}
            <figure class="sm-header-image">
                <img srcset="{{img_url feature_image size="s"}} 500w,
                {{img_url feature_image size="m"}} 800w,
                {{img_url feature_image size="l"}} 1000w,
                {{img_url feature_image size="xl"}} 2000w"
                sizes="(min-width: 750px) 800px, 100vw"
                src="{{img_url feature_image size="m"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
                <figcaption>{{feature_image_caption}}</figcaption>
            </figure>
        {{else if cover_image}}
            <figure class="sm-header-image">
                <img srcset="{{img_url cover_image size="s"}} 500w,
                {{img_url cover_image size="m"}} 800w,
                {{img_url cover_image size="l"}} 1000w,
                {{img_url cover_image size="xl"}} 2000w"
                sizes="(min-width: 750px) 800px, 100vw"
                src="{{img_url cover_image size="m"}}"
                alt="{{name}}"
                >
            </figure>
        {{else}}
            {{#is "post"}}<div class="sm-header-divider"></div>{{/is}}
        {{/if}}
    </div>
</header>