<section class='sm-hero sm-grid'>

  <div class='sm-hero-inner'>
    <div class='sm-hero-left'>
      <p class='sm-hero-subtitle'>{{@custom.hero_title}}</p>
      <p class='sm-hero-description'>{{@custom.hero_description}}</p>

      <div class='sm-hero-button-container'>
        {{^if @member}}
        {{#if @site.members_enabled}}<a
            class='sm-button sm-hero-cta'
            href='{{@site.signup_url}}'
          >Subscribe</a>{{/if}}{{/if}}
        
        {{#get "posts" filter="featured:true" limit="1" as |featured|}}
          {{#if featured}}
          {{#foreach featured}}
            <a class='sm-button sm-hero-cta-2' href='{{url}}'>Start reading <svg viewBox="0 0 586 90">
            <rect x="0" y="0"></rect><g transform="translate(10 80) rotate(0 283 -35)" stroke="none"><path fill="var(--secondary)" d="M -3.08,-5.59 Q -3.08,-5.59 5.32,-10.05 13.73,-14.52 23.85,-19.06 33.96,-23.60 42.32,-26.94 50.69,-30.28 58.60,-33.17 66.51,-36.07 85.58,-41.33 104.65,-46.59 117.90,-49.94 131.15,-53.30 141.37,-55.86 151.58,-58.42 159.44,-60.21 167.30,-62.01 177.31,-63.84 187.31,-65.66 192.72,-66.92 198.12,-68.18 201.20,-68.86 204.27,-69.53 205.16,-69.54 206.05,-69.55 206.92,-69.34 207.79,-69.14 208.58,-68.73 209.37,-68.33 210.04,-67.74 210.71,-67.16 211.23,-66.43 211.74,-65.70 212.06,-64.87 212.39,-64.04 212.50,-63.16 212.62,-62.28 212.52,-61.39 212.42,-60.51 212.11,-59.67 211.80,-58.84 211.30,-58.10 210.80,-57.36 210.14,-56.77 209.48,-56.17 208.70,-55.75 207.91,-55.33 207.05,-55.11 206.19,-54.89 202.24,-48.98 198.29,-43.07 194.90,-40.20 191.51,-37.33 186.95,-33.05 182.40,-28.76 177.90,-24.77 173.41,-20.78 173.05,-20.24 172.69,-19.71 171.53,-19.10 170.37,-18.49 169.10,-18.17 167.83,-17.86 166.52,-17.86 165.21,-17.85 163.93,-18.17 162.66,-18.48 161.50,-19.09 160.34,-19.69 159.36,-20.56 158.38,-21.43 157.63,-22.51 156.89,-23.58 156.42,-24.81 155.96,-26.03 155.80,-27.33 155.64,-28.63 155.80,-29.93 155.95,-31.23 156.42,-32.46 156.88,-33.68 157.62,-34.76 158.37,-35.84 159.35,-36.71 160.32,-37.58 168.21,-39.75 176.09,-41.92 183.90,-42.83 191.71,-43.74 205.92,-45.21 220.13,-46.69 238.20,-48.83 256.27,-50.96 291.13,-54.32 325.98,-57.68 353.49,-59.57 380.99,-61.47 409.28,-63.91 437.56,-66.35 456.81,-67.91 476.05,-69.47 497.79,-70.95 519.52,-72.44 531.89,-73.32 544.26,-74.21 550.39,-74.99 556.52,-75.77 561.02,-76.50 565.51,-77.22 566.68,-77.10 567.84,-76.99 568.91,-76.51 569.98,-76.04 570.84,-75.24 571.70,-74.45 572.26,-73.42 572.82,-72.39 573.03,-71.24 573.23,-70.08 573.06,-68.93 572.88,-67.77 572.35,-66.73 571.81,-65.69 570.97,-64.87 570.13,-64.05 569.07,-63.55 568.02,-63.05 566.85,-62.90 565.69,-62.76 564.55,-63.00 563.40,-63.24 562.39,-63.83 561.38,-64.42 560.61,-65.30 559.84,-66.19 559.39,-67.27 558.95,-68.35 558.87,-69.52 558.79,-70.69 559.09,-71.82 559.39,-72.95 560.03,-73.93 560.68,-74.91 561.60,-75.63 562.53,-76.35 563.63,-76.74 564.74,-77.12 565.91,-77.14 567.08,-77.15 568.19,-76.79 569.31,-76.43 570.25,-75.73 571.19,-75.04 571.86,-74.07 572.53,-73.11 572.85,-71.99 573.18,-70.86 573.13,-69.69 573.08,-68.52 572.66,-67.43 572.24,-66.34 571.49,-65.44 570.75,-64.54 569.75,-63.92 568.76,-63.30 567.61,-63.04 566.47,-62.77 566.48,-62.77 566.48,-62.77 561.92,-62.89 557.37,-63.01 551.25,-62.98 545.14,-62.94 532.75,-61.91 520.37,-60.87 498.74,-59.19 477.11,-57.51 457.92,-55.68 438.72,-53.84 410.38,-51.01 382.03,-48.18 354.77,-45.79 327.50,-43.39 293.02,-39.37 258.53,-35.34 240.62,-32.27 222.71,-29.21 209.09,-26.56 195.46,-23.92 184.08,-21.82 172.69,-19.71 171.53,-19.10 170.37,-18.49 169.10,-18.17 167.83,-17.86 166.52,-17.86 165.21,-17.85 163.94,-18.17 162.66,-18.48 161.50,-19.09 160.34,-19.69 159.36,-20.56 158.38,-21.43 157.64,-22.51 156.89,-23.58 156.42,-24.81 155.96,-26.03 155.80,-27.33 155.64,-28.63 155.80,-29.93 155.95,-31.23 156.42,-32.46 156.88,-33.68 157.62,-34.76 158.36,-35.84 159.34,-36.71 160.32,-37.58 161.85,-38.54 163.38,-39.50 168.50,-43.39 173.62,-47.27 180.30,-51.86 186.99,-56.45 191.92,-59.89 196.84,-63.33 200.56,-66.43 204.27,-69.53 205.16,-69.54 206.05,-69.55 206.92,-69.34 207.79,-69.14 208.58,-68.73 209.37,-68.33 210.04,-67.74 210.71,-67.16 211.23,-66.43 211.74,-65.70 212.06,-64.87 212.39,-64.04 212.50,-63.16 212.62,-62.28 212.52,-61.39 212.42,-60.51 212.11,-59.67 211.80,-58.84 211.30,-58.10 210.81,-57.36 210.14,-56.77 209.48,-56.17 208.70,-55.75 207.91,-55.33 207.05,-55.11 206.19,-54.89 203.09,-55.18 200.00,-55.47 194.67,-55.15 189.35,-54.82 179.51,-52.93 169.67,-51.03 161.95,-49.48 154.24,-47.93 144.05,-45.32 133.86,-42.70 120.75,-39.30 107.63,-35.90 89.02,-30.67 70.41,-25.44 62.70,-22.60 55.00,-19.75 46.93,-16.36 38.85,-12.96 29.23,-8.42 19.61,-3.87 11.34,0.85 3.08,5.59 2.37,5.88 1.65,6.16 0.89,6.27 0.13,6.38 -0.63,6.30 -1.39,6.23 -2.12,5.97 -2.84,5.71 -3.49,5.29 -4.13,4.86 -4.65,4.30 -5.17,3.73 -5.55,3.06 -5.92,2.38 -6.12,1.64 -6.32,0.90 -6.33,0.13 -6.35,-0.63 -6.18,-1.38 -6.01,-2.14 -5.67,-2.82 -5.33,-3.51 -4.83,-4.10 -4.33,-4.69 -3.70,-5.14 -3.08,-5.59 -3.08,-5.59 L -3.08,-5.59 Z"></path></g></svg></a>
          {{/foreach}}
          {{/if}}
        {{/get}}
      </div>
    </div>

    <div class='sm-hero-right'>
    <picture class="sm-hero-img">
      <source 
        srcset="
      {{img_url @custom.hero_image size="48" format="avif"}} 48w,
      {{img_url @custom.hero_image size="80" format="avif"}} 80w,
      {{img_url @custom.hero_image size="160" format="avif"}} 160w,
      {{img_url @custom.hero_image size="240" format="avif"}} 240w,
      {{img_url @custom.hero_image size="528" format="avif"}} 528w,
      {{img_url @custom.hero_image size="800" format="avif"}} 800w,
      {{img_url @custom.hero_image size="1200" format="avif"}} 1200w,
      {{img_url @custom.hero_image size="1600" format="avif"}} 1600w,
      {{img_url @custom.hero_image size="1920" format="avif"}} 1920w,
      {{img_url @custom.hero_image size="2000" format="avif"}} 2000w"
        sizes="(min-width: 768px) 528px, 48px" 
        type="image/avif"
      >
      <source 
        srcset="
      {{img_url @custom.hero_image size="48" format="webp"}} 48w,
      {{img_url @custom.hero_image size="80" format="webp"}} 80w,
      {{img_url @custom.hero_image size="160" format="webp"}} 160w,
      {{img_url @custom.hero_image size="240" format="webp"}} 240w,
      {{img_url @custom.hero_image size="528" format="webp"}} 528w,
      {{img_url @custom.hero_image size="800" format="webp"}} 800w,
      {{img_url @custom.hero_image size="1200" format="webp"}} 1200w,
      {{img_url @custom.hero_image size="1600" format="webp"}} 1600w,
      {{img_url @custom.hero_image size="1920" format="webp"}} 1920w,
      {{img_url @custom.hero_image size="2000" format="webp"}} 2000w"
        sizes="(min-width: 768px) 528px, 48px" 
        type="image/webp"
      >
      <img
        srcset="
      {{img_url @custom.hero_image size="48"}} 48w,
      {{img_url @custom.hero_image size="80"}} 80w,
      {{img_url @custom.hero_image size="160"}} 160w,
      {{img_url @custom.hero_image size="240"}} 240w,
      {{img_url @custom.hero_image size="528"}} 528w,
      {{img_url @custom.hero_image size="800"}} 800w,
      {{img_url @custom.hero_image size="1200"}} 1200w,
      {{img_url @custom.hero_image size="1600"}} 1600w,
      {{img_url @custom.hero_image size="1920"}} 1920w,
      {{img_url @custom.hero_image size="2000"}} 2000w"
        sizes="(min-width: 768px) 528px, 48px" 
        src="{{img_url @custom.hero_image size="528"}}"
        alt="{{@site.title}}"
        width="528" height="528"
      >
    </div>
  </div>
</section>