<div class="sm-hero sm-grid">
  <picture class="sm-hero-img">
    <source
      srcset="
    {{img_url @custom.hero_image size="48" format="avif"}} 48w,
    {{img_url @custom.hero_image size="80" format="avif"}} 80w,
    {{img_url @custom.hero_image size="160" format="avif"}} 160w,
    {{img_url @custom.hero_image size="240" format="avif"}} 240w,
    {{img_url @custom.hero_image size="528" format="avif"}} 528w,
    {{img_url @custom.hero_image size="800" format="avif"}} 800w,
    {{img_url @custom.hero_image size="1200" format="avif"}} 1200w,
    {{img_url @custom.hero_image size="1600" format="avif"}} 1600w,
    {{img_url @custom.hero_image size="1920" format="avif"}} 1920w,
    {{img_url @custom.hero_image size="2000" format="avif"}} 2000w"
      sizes="(min-width: 768px) 800px, 100vw"
      type="image/avif"
    >
    <source
      srcset="
    {{img_url @custom.hero_image size="48" format="webp"}} 48w,
    {{img_url @custom.hero_image size="80" format="webp"}} 80w,
    {{img_url @custom.hero_image size="160" format="webp"}} 160w,
    {{img_url @custom.hero_image size="240" format="webp"}} 240w,
    {{img_url @custom.hero_image size="528" format="webp"}} 528w,
    {{img_url @custom.hero_image size="800" format="webp"}} 800w,
    {{img_url @custom.hero_image size="1200" format="webp"}} 1200w,
    {{img_url @custom.hero_image size="1600" format="webp"}} 1600w,
    {{img_url @custom.hero_image size="1920" format="webp"}} 1920w,
    {{img_url @custom.hero_image size="2000" format="webp"}} 2000w"
      sizes="(min-width: 768px) 800px, 100vw"
      type="image/webp"
    >
    <img
      srcset="
    {{img_url @custom.hero_image size="48"}} 48w,
    {{img_url @custom.hero_image size="80"}} 80w,
    {{img_url @custom.hero_image size="160"}} 160w,
    {{img_url @custom.hero_image size="240"}} 240w,
    {{img_url @custom.hero_image size="528"}} 528w,
    {{img_url @custom.hero_image size="800"}} 800w,
    {{img_url @custom.hero_image size="1200"}} 1200w,
    {{img_url @custom.hero_image size="1600"}} 1600w,
    {{img_url @custom.hero_image size="1920"}} 1920w,
    {{img_url @custom.hero_image size="2000"}} 2000w"
      sizes="(min-width: 768px) 800px, 100vw"
      src="{{img_url @custom.hero_image size="528"}}"
      alt="{{@site.title}}"
      width="528" height="528"
    >
  </picture>
  
  <div class='sm-hero-text'>
    <h1 class='sm-hero-description'>{{{@custom.hero_description}}}</h1>
    <div class='sm-hero-button-container sm-flex-h'>
      {{^match @member}}
      {{#match @site.members_enabled}}<a
          class='sm-button sm-hero-cta'
          href='{{@site.signup_url}}'
        >Subscribe</a>{{/match}}{{/match}}
      {{#get "posts" filter="featured:true" limit="1" as |featured|}}
        {{#match featured}}
        {{#foreach featured}}
          <a href='{{url}}'>Read something good &rarr;</a>
        {{/foreach}}
        {{/match}}
      {{/get}}
    </div>
  </div>
</div>