{{! Mobile Nav Menu }}
<nav class="sm-modal sm-menu" id="sm-menu" aria-expanded="false">
  <div class="sm-modal__container">
    <header class="sm-modal__header">
      <button class="sm-modal__close-btn" data-target="menu" aria-label="Close menu" tabindex="-1">
        <svg aria-hidden="true">
          <use href="#close"></use>
        </svg>
      </button>
      {{#link href=@site.url class='sm-menu__link'}}
      <h2 class="sm-modal__title">
        {{@site.title}}
      </h2>
      {{/link}}
      
      {{! Main Navigation }}
      {{#if @site.navigation}}
      {{ navigation }}
      {{/if}}
      {{! Member }}

      {{#if @member}}
      <a class="sm-button--color sm-members" href="#/portal/account" tabindex="-1">Account</a>
      {{else}}
      <a class="sm-button sm-members" href="#/portal/signin" tabindex="-1">Sign In</a>
      <a class="sm-button--color sm-members" href="#/portal/signup" tabindex="-1">Sign Up</a>
      {{/if}}
  
      {{! Search }}
      <button class="sm-button--search" id="sm-m-search-btn" data-target="sm-search-modal" tabindex="-1">
        <svg aria-hidden="true">
          <use href="#search"></use>
        </svg>
        Search
      </button>
      {{!-- Dark Mode Toggle --}}
      <button class="sm-button sm-color-mode-btn light" aria-label="Toggle light mode" tabindex="-1">
        <svg aria-hidden="true">
          <use href="#sun"></use>
        </svg>
        Light Mode
      </button>
      <button class="sm-button sm-color-mode-btn dark" aria-label="Toggle dark mode" tabindex="-1">
        <svg aria-hidden="true">
          <use href="#moon"></use>
        </svg>
        Dark Mode
      </button>
    </header>

    <footer class="sm-modal__footer">
      {{! Social Media  }}
        {{#has any='@site.twitter, @site.facebook'}}
          {{#if @site.twitter}}
          <a class="sm-menu__social-media-item twitter" href="{{twitter_url @site.twitter}}"
            aria-label="Follow {{@site.title}} on Twitter" tabindex="-1">
            <svg aria-hidden="true">
              <use href="#twitter"></use>
            </svg>
          </a>
          {{/if}}
          {{#if @site.facebook}}
          <a class="sm-menu__social-media-item facebook" href="{{facebook_url @site.facebook}}"
            aria-label="Follow {{@site.title}} on Facebook" tabindex="-1">
            <svg aria-hidden="true">
              <use href="#facebook"></use>
            </svg>
          </a>
          {{/if}}
        {{/has}}
        {{#if @site.secondary_navigation}}
          {{navigation type='secondary'}}
        {{/if}}
    </footer>
  </div>
</nav>