{{! Mobile Nav Menu }}
<nav class="modal" id="menu" aria-expanded="false">
  <button
    class="modal__close-btn"
    data-target="menu"
    aria-label="Close menu"
  >
    <svg aria-hidden="true">
      <use href="#close"></use>
    </svg>
  </button>
  <div class="modal__container">
    {{#link href=@site.url class='mobile-nav-menu__title-link'}}
    <h2 class="mobile-nav-menu__title">
      {{@site.title}}
    </h2>
    {{/link}}

    <div class="modal__inner-container">
      {{! Main Navigation }}
      {{#if @site.navigation}}
      {{ navigation }}
      {{/if}}
      {{! Search }}
      <button
        class="mobile-nav-menu__search-btn"
        id="m-search-btn"
        data-target="search-modal"
      >
        Search
      </button>
      {{! Social Media  }}
      {{#has any='@site.twitter, @site.facebook'}}
      <p class="mobile-nav-menu__social-media-header">
        Social Media
      </p>
      <div class="mobile-nav-menu__social-media">
        {{#if @site.twitter}}
        <a
          class="mobile-nav-menu__social-media-item twitter"
          href="{{twitter_url @site.twitter}}"
          aria-label="Follow {{@site.title}} on Twitter"
        >
          <svg aria-hidden="true">
            <use href="#twitter"></use>
          </svg>
        </a>
        {{/if}}
        {{#if @site.facebook}}
        <a
          class="mobile-nav-menu__social-media-item facebook"
          href="{{facebook_url @site.facebook}}"
          aria-label="Follow {{@site.title}} on Facebook"
        >
          <svg aria-hidden="true">
            <use href="#facebook"></use>
          </svg>
        </a>
        {{/if}}
        {{/has}}
        {{#if @site.secondary_navigation}}
        {{navigation type='secondary'}}
        {{/if}}
      </div>
      {{! Member }}
      {{#if @labs.members}}
      <p class="mobile-nav-menu__social-media-header">
        Membership
      </p>
      {{#if @member}}
        <button class="mobile-nav-menu__account-button" id="m-account-btn" data-target="account">
          {{#if @member.avatar_image}}
              <img class="mobile-nav-menu__avatar" src="{{@member.avatar_image}}" />
          {{else}}
              <div class="mobile-nav-menu__no-member-avatar"></div>
          {{/if}}
        </button>
      {{else}}
        <button class="mobile-nav-menu__signin" id="m-signin-btn" data-target="signin">Sign In</button>
        <button class="mobile-nav-menu__signup" id="m-signup-btn" data-target="signup">Sign Up</button>
      {{/if}}
      {{/if}}
      {{!-- Dark Mode Toggle --}}
      <p class="mobile-nav-menu__social-media-header">
        Change Color Mode
      </p>
      <button class="color-mode-btn light" aria-label="Toggle light mode">
          <svg aria-hidden="true">
              <use href="#sun"></use>
          </svg>
          <span>Toggle Light Mode</span>
      </button>
      <button class="color-mode-btn dark" aria-label="Toggle dark mode">
          <svg aria-hidden="true">
              <use href="#moon"></use>
          </svg>
          <span>Toggle Dark Mode</span>
      </button>
    </div>
  </div>
</nav>
