{{! Mobile Nav Menu }}
<nav class="modal" id="menu" aria-expanded="false">
  <button class="modal__close-btn" data-target="menu" aria-label="Close menu" tabindex="-1">
    <svg aria-hidden="true">
      <use href="#close"></use>
    </svg>
  </button>
  <div class="modal__container">
    {{#link href=@site.url class='mobile-nav-menu__title-link'}}
    <h2 class="mobile-nav-menu__title">
      {{@site.title}}
    </h2>
    {{/link}}
    <div class="modal__inner-container">
      {{! Main Navigation }}
      {{#if @site.navigation}}
      {{ navigation }}
      {{/if}}

      {{#if @labs.members}}
      <div class="divider">
        <div class="divider__rule"></div>
      </div>
      {{! Member }}
      <p class="mobile-nav-menu__social-media-header">
        Membership
      </p>
      {{#if @member}}
      <button class="mobile-nav-menu__account-btn" id="m-account-btn" data-target="account" tabindex="-1">
        <div class="mobile-nav-menu__img-container">
          <svg aria-hidden="true">
            <use href="#user"></use>
          </svg>
          <img class="mobile-nav-menu__avatar" src="{{@member.avatar_image}}" />
        </div>
        Account
      </button>
      {{else}}
      <button class=" mobile-nav-menu__signin" id="m-signin-btn" data-target="signin" tabindex="-1">Sign In</button>
      <button class="mobile-nav-menu__signup" id="m-signup-btn" data-target="signup" tabindex="-1">Sign Up</button>
      {{/if}}
      {{/if}}
      <div class="divider">
        <div class="divider__rule"></div>
      </div>
      {{! Search }}
      <button class="mobile-nav-menu__search-btn" id="m-search-btn" data-target="search-modal" tabindex="-1">
        <svg aria-hidden="true">
          <use href="#search"></use>
        </svg>
        Search
      </button>
      {{!-- Dark Mode Toggle --}}
      <button class="color-mode-btn light" aria-label="Toggle light mode" tabindex="-1">
        <svg aria-hidden="true">
          <use href="#sun"></use>
        </svg>
        Light Mode
      </button>
      <button class="color-mode-btn dark" aria-label="Toggle dark mode" tabindex="-1">
        <svg aria-hidden="true">
          <use href="#moon"></use>
        </svg>
        Dark Mode
      </button>
      {{! Social Media  }}
      {{#has any='@site.twitter, @site.facebook'}}
      <div class="divider">
        <div class="divider__rule"></div>
      </div>
      {{! Member }}
      {{!-- <p class="mobile-nav-menu__social-media-header">
        Social Media
      </p> --}}
      <div class="mobile-nav-menu__social-media">
        {{#if @site.twitter}}
        <a class="mobile-nav-menu__social-media-item twitter" href="{{twitter_url @site.twitter}}"
          aria-label="Follow {{@site.title}} on Twitter" tabindex="-1">
          <svg aria-hidden="true">
            <use href="#twitter"></use>
          </svg>
        </a>
        {{/if}}
        {{#if @site.facebook}}
        <a class="mobile-nav-menu__social-media-item facebook" href="{{facebook_url @site.facebook}}"
          aria-label="Follow {{@site.title}} on Facebook" tabindex="-1">
          <svg aria-hidden="true">
            <use href="#facebook"></use>
          </svg>
        </a>
        {{/if}}
        {{/has}}
        {{#if @site.secondary_navigation}}
        {{navigation type='secondary'}}
        {{/if}}
      </div>
    </div>
  </div>
</nav>