{{!-- Navigation bar --}}
<div class="sm-grid sm-navbar-container">

    <header class="sm-navbar">
        <div class="sm-navbar-left">
            <button class="sm-navbar-menu-button" aria-label="menu"><svg aria-hidden="true"><use href="#sm-menu-icon"></use></svg></button>
            {{#is "home"}}
            <h1 class="sm-site-title"><a href="{{@site.url}}">{{@site.title}}</a></h1>
            {{else}}
            <p class="sm-site-title"><a href="{{@site.url}}">{{@site.title}}</a></p>
            {{/is}}

            <div class="sm-navigation-container">
                {{navigation}}
                <div class="sm-overflow-container">
                    <button class="sm-overflow-button" aria-label="Overflow menu">
                        <svg aria-hidden="true"><use href="#sm-overflow-menu-icon"></use></svg>
                    </button>

                    {{> "overflow"}}
                </div>
            </div>


        </div>
        <div class="sm-navbar-right">
            {{search}}
            {{#if @site.members_enabled}}
            {{^if @member}}<button class="sm-button" data-portal="signup">Subscribe</button>{{else}}<button
                class="sm-button" data-portal="account">My Account</button>{{/if}}
            {{/if}}
        </div>
    </header>
</div>