{{! Navigation bar }}
<div class='sm-grid'>
  <header class='sm-navbar sm-flex-h'>
    <div class='sm-navbar-left sm-flex-h'>
      {{#if @site.icon}}
        <img class='sm-site-icon' src='{{img_url @site.icon}}' alt='' />
      {{/if}}
      {{#is 'home'}}
        <h1 class='sm-site-title'><a
            href='{{@site.url}}'
          >{{@site.title}}</a></h1>
      {{else}}
        <p class='sm-site-title'><a href='{{@site.url}}'>{{@site.title}}</a></p>
      {{/is}}
      {{navigation}}

    </div>

    <div class='sm-navbar-right'>
      {{#if @site.members_enabled}}
      {{#if @member}}
      <a href="#/portal/account">
      <svg aria-hidden='true'>
        <use href='#sm-person-icon'></use>
      </a>{{else}}
      <a href='#/portal/signin'>Login</a>
      <a class='sm-sub-button' href='#/portal/signup'>Subscribe</a>
      {{/if}}
      {{/if}}
      <a href='#/search'>
        <svg aria-hidden='true'>
          <use href='#sm-search-icon'></use>
        </svg>
      </a>
      <button
        class='sm-circle-icon-button sm-navbar-menu-button'
        aria-label='menu'
        aria-expanded='false'
        aria-controls='sm-nav-menu'
      ><svg aria-hidden='true'><use href='#sm-menu-icon'></use></svg>
      </button>
    </div>
  </header>

</div>

  {{> "nav-menu"}}