{{!-- Navbar --}}
<nav class="navbar">
    {{!-- Navbar top  --}}
    <div class="navbar__top">
        <div class="navbar__top--left">
            <span class="navbar__new-tag">New</span>
            {{#get "posts" limit="1"}}
                {{#foreach posts}}
                    {{#link href=(url) class="navbar__new-link"}}{{title}}{{/link}}
                {{/foreach}}
            {{/get}}
        </div>
        <div class="navbar__top--right">
            <button class="color-mode-btn light" aria-label="Toggle light mode">
                <svg aria-hidden="true">
                    <use href="#sun"></use>
                </svg>
            </button>
            <button class="color-mode-btn dark" aria-label="Toggle dark mode">
                <svg aria-hidden="true">
                    <use href="#moon"></use>
                </svg>
            </button>
            <button class="navbar__search" id="search-btn" data-target="search-modal"
                aria-label="Search {{@site.title}}">
                <svg aria-hidden="true">
                    <use href="#search"></use>
                </svg>
            </button>
        </div>
    </div>
    {{!-- End navbar top  --}}
    {{!-- Navbar bottom --}}
    <div class="navbar__bottom">
        <div class="navbar__bottom--left">
            <a class="navbar__brand--serif" href="{{@site.url}}" aria-labelledby="site-title">
                {{#if @site.icon}}<img src="{{@site.icon}}" alt="">{{/if}}
                <p class="{{#is "home"}}site-title{{/is}}" id="site-title">{{@site.title}}</p>
            </a>
        </div>
        {{!-- Mobile Hamburger Menu  --}}
        <div class="navbar__bottom--right--mobile">
            <button class="navbar__hamburger-btn" id="menu-btn" data-target="menu" aria-label="menu">
                <svg aria-hidden="true">
                    <title>Menu</title>
                    <use href="#menu-icon"></use>
                </svg>
            </button>
        </div>
        {{!-- End Mobile Hamburger Menu  --}}
        {{!-- If the site has links, they appear below  --}}
        {{#if @site.navigation}}
            <div class="navbar__bottom--center">
                {{navigation}}
            </div>
        {{/if}}
        {{!-- End navigation  --}}
        {{!-- Member functionality --}}
        {{#if @labs.members}}
            <div class="navbar__bottom--right">
                {{#if @member}}
                    <button class="navbar__member-button" id="account-btn" data-target="account">
                        {{#if @member.avatar_image}}
                            <img class="navbar__avatar" src="{{@member.avatar_image}}" />
                        {{else}}
                            <div class="navbar__no-member-avatar"></div>
                        {{/if}}
                    </button>
                {{else}}
                    <button class="navbar__signin" id="signin-btn" data-target="signin">Sign In</button>
                    <button class="navbar__signup" id="signup-btn" data-target="signup">Sign Up</button>
                {{/if}}
            </div>
        {{/if}}
        {{!-- Member functionality --}}
    </div>
    {{!-- End Navbar bottom --}}
</nav>
{{!-- End Navbar --}}