{{!-- Navigation bar --}}
<div class="sm-grid sm-navbar-container">

    <header class="sm-navbar">
        <div class="sm-navbar-left">
            {{#is "home"}}
            <h1 class="sm-site-title">{{@site.title}}</h1>
            {{else}}
            <p class="sm-site-title">{{@site.title}}</p>
            {{/is}}

            <div class="sm-navigation-container">
                {{navigation}}
                <div class="sm-overflow-container">
                    <button class="sm-overflow-button" aria-label="Overflow menu">
                        <svg viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0z" />
                            <path
                                d="M12 3c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 14c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-7c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
                        </svg>
                    </button>

                    {{> "overflow"}}
                </div>
            </div>


        </div>
        <div class="sm-navbar-right">
            <button><svg viewBox="0 0 24 24">
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path
                        d="M11 2c4.968 0 9 4.032 9 9s-4.032 9-9 9-9-4.032-9-9 4.032-9 9-9zm0 16c3.867 0 7-3.133 7-7 0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7zm8.485.071l2.829 2.828-1.415 1.415-2.828-2.829 1.414-1.414z" />
                </svg></button>
            {{^if @member}}<button class="sm-button" data-portal="signup">Subscribe</button>{{else}}<button
                class="sm-button" data-portal="account">My Account</button>{{/if}}
        </div>
    </header>
</div>