{{!-- Navbar --}}
<nav class="sm-navbar" aria-label="Main navbar">
    {{!-- Navbar top  --}}
    <div class="sm-navbar__top">
        <div class="sm-navbar__top--left">
            <a class="sm-navbar__brand--serif" href="{{@site.url}}" aria-labelledby="sm-site-title">
                {{#if @site.icon}}<img src="{{@site.icon}}" alt="">{{/if}}
                <p class="{{#is "home"}}sm-site-title{{/is}}" id="sm-site-title">{{@site.title}}</p>
            </a>
            
        </div>
        <div class="sm-navbar__top--right">
            <button class="sm-color-mode-btn light" aria-label="Toggle light mode">
                <svg aria-hidden="true">
                    <use href="#sun"></use>
                </svg>
            </button>
            <button class="sm-color-mode-btn dark" aria-label="Toggle dark mode">
                <svg aria-hidden="true">
                    <use href="#moon"></use>
                </svg>
            </button>
            
            <button class="sm-navbar__search" id="sm-search-btn" data-target="sm-search-modal" data-tt="Search"
                aria-label="Search {{@site.title}}">
                <svg aria-hidden="true">
                    <use href="#search"></use>
                </svg>
            </button>
        </div>
    </div>

    <div class="sm-navbar__divider"></div>
        
    {{!-- Navbar bottom --}}
    <div class="sm-navbar__bottom">
        <div class="sm-navbar__bottom--left">
            
        </div>

        {{!-- Mobile Hamburger Menu  --}}
        <div class="sm-navbar__bottom--right--mobile">
            <button class="sm-navbar__hamburger-btn" id="sm-menu-btn" data-target="sm-menu" aria-label="menu">
                <svg aria-hidden="true">
                    <use href="#menu-icon"></use>
                </svg>
            </button>
        </div>

        {{!-- If the site has links, they appear below  --}}
        {{#if @site.navigation}}
        <div class="sm-navbar__bottom--center">
            {{navigation}}
        </div>
        {{/if}}
        
        {{!-- Member functionality --}}
        {{#if @custom.memberships}}
        <div class="sm-navbar__bottom--right sm-members">
            {{#if @member}}
            <a href="#/portal/account" class="sm-navbar__signup">Account</a>
            {{else}}
            <a href="#/portal/signin" class="sm-navbar__signin">Sign In</a>
            <a href="#/portal/signup" class="sm-navbar__signup">Sign Up</a>
            {{/if}}
        </div>
        {{/if}}
    </div>
</nav>
