{{^if isSecondary}}
<ul class="navigation__ul" role="menu">
    {{#foreach navigation}}<li class="navigation__li" role="menuitem">
        <a href="{{url}}" class="navigation__list-link {{slug}} {{#if current}}nav-current{{/if}}">{{label}}</a>
    </li>{{/foreach}}
</ul>
{{else}}
{{#foreach navigation}}
<a class="navigation__social-media-item {{slug}}" href="{{url}}" aria-label="{{label}}" data-tt="{{label}}">
    <svg aria-hidden="true">
        <use href="#{{slug}}"></use>
    </svg>
</a>
{{/foreach}}
{{/if}}