{{^if isSecondary}}
<ul class="sm-navigation" role="menu">
    {{#foreach navigation}}<li class="sm-navigation-item" role="menuitem">
        <a href="{{url}}" class="sm-link {{slug}} {{#if current}}sm-nav-current{{/if}}">{{label}}</a>
    </li>{{/foreach}}
</ul>
{{else}}
<ul class="sm-footer-navigation" role="menu">
{{#foreach navigation}}
    <li class="sm-footer-navigation-item" role="menuitem">
            <a href="{{url}}" class="sm-link {{slug}} {{#if current}}sm-nav-current{{/if}}">{{label}}</a>
    </li>
{{/foreach}}
</ul>

{{/if}}