<aside class="sm-post-share-bar">
    <span class="sm-post-share-bar__link" aria-label="share">
        <svg aria-hidden="true">
            <use href="#share"></use>
        </svg>
    </span>
    <a class="sm-post-share-bar__link--twitter" 
        href="https://twitter.com/share?url={{url absolute='true'}}&amp;text={{#if title}}{{title}}{{else}}{{name}}{{/if}}"
        aria-label="Share on Twitter" target="_blank" rel="noopener noreferrer">
        <svg>
            <use href="#twitter"></use>
        </svg>
    </a>
    <a class="sm-post-share-bar__link--facebook" href="http://www.facebook.com/sharer.php?u={{url absolute='true'}}"
        aria-label="Share on Facebook" target="_blank" rel="noopener noreferrer">
        <svg>
            <use href="#facebook"></use>
        </svg>
    </a>
    <a class="sm-post-share-bar__link--linkedin" data-tt="Share on LinkedIn"
        href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{url absolute='true'}}"
        aria-label="Share on LinkedIn" target="_blank" rel="noopener noreferrer">
        <svg>
            <use href="#linkedin"></use>
        </svg>
    </a>
    <button class="sm-post-share-bar__link--copy" aria-label="Copy to clipboard">
        <svg>
            <use href="#copy"></use>
        </svg>
    </button>
</aside>