{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#author}}

{{!-- Post Header  --}}


<main class="sm-main" id="sm-main">
    <div class="sm-main__outer-container">
        <div class="sm-main__inner-container">
            {{> header-img}}
            <section class="{{slug}}">

                <header class="sm-author__header">
                    <div class="sm-inner-container--author">
                        <div class="sm-author__img-container">
                            {{#if profile_image}}
                            <img class="sm-author__img" src="{{img_url profile_image size="m"}}" alt="{{name}}">
                            {{else}}
                            <div class="sm-author__no-img">
                                <svg>
                                    <use href="#user"/>
                                </svg>
                            </div>
                            {{/if}}
                        </div>
                        <div class="sm-author__text">
                            <div class="sm-author__text-container">
                                <h1 class="sm-author__name">{{name}}</h1>
                            </div>

                            {{#if location}}
                            <p class="sm-small-header">Location</p>
                            <div class="sm-author__location map">
                                <svg aria-hidden="true">
                                    <use href="#location"></use>
                                </svg>
                                <p>{{location}}</p>
                            </div>
                            {{/if}}
                            {{#if bio}}
                            <p class="sm-small-header">Bio</p>
                            <p class="sm-author__bio">{{bio}}</p>
                            {{/if}}
                            {{#has any="twitter, facebook, website"}}
                            <p class="sm-small-header">Social</p>
                            {{/has}}
                            <div class="sm-author__meta">
                                {{#if twitter}}
                                <a class="twitter" href="{{twitter_url}}" aria-label="Twitter">
                                    <svg>
                                        <use href="#twitter"></use>
                                    </svg>
                                </a>
                                {{/if}}
                                {{#if facebook}}
                                <a class="facebook" href="{{facebook_url}}" aria-label="Facebook">
                                    <svg>
                                        <use href="#facebook"></use>
                                    </svg>
                                </a>
                                {{/if}}
                                {{#if website}}
                                <a class="website" href="{{website}}" aria-label="{{website}}">
                                    <svg>
                                        <use href="#website"></use>
                                    </svg>
                                </a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </header>
                <hr>
                <h2>{{plural ../pagination.total empty='No Posts' singular='% Post' plural='% Posts'}}
                </h2>
                {{/author}}
                <div class="sm-grid-container sm-grid-container-{{posts.length}}">
                    {{#foreach posts}}
                    {{> "card"}}
                    {{/foreach}}
                </div>
                {{pagination}}
            </section>

        </div>
    </div>
</main>
{{!-- Main --}}