<!DOCTYPE html>
<html lang="{{@site.locale}}" data-color-pref="{{@custom.color_mode}}" data-accent-color="{{@site.accent_color}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{meta_title}}</title>

    {{!-- Preloads and preconnects --}}
    <link rel="preconnect" href="https://cdn.jsdelivr.net/">
    <link rel="preload" href="/assets/fonts/public-sans.woff2" as="font" type="font/woff2" crossorigin>

    {{!-- CSS and Fonts --}}

    {{! Load scripts to execute before render }}
    <script>
        const colorModePref = document.documentElement.dataset.colorPref;

        const colorModePrefOpposite = colorModePref === 'dark' ? 'light' : 'dark'

        if (
            localStorage.getItem('pref') === colorModePrefOpposite ||
            (window.matchMedia(`(prefers-color-scheme: ${colorModePrefOpposite})`).matches &&
                !localStorage.getItem('pref'))
        ) {
            document.documentElement.setAttribute('data-color-pref', colorModePrefOpposite);
        }
    </script>
    <script>
        function e(e){let t=0,n=0,o=0;return 4===e.length?(t=`0x${e[1]}${e[1]}`,n=`0x${e[2]}${e[2]}`,o=`0x${e[3]}${e[3]}`):7===e.length&&(t=`0x${e[1]}${e[2]}`,n=`0x${e[3]}${e[4]}`,o=`0x${e[5]}${e[6]}`),[t,n,o]}!function(){const[t,n,o]=document.documentElement.dataset.accentColor?e(document.documentElement.dataset.accentColor):e("#ff0000"),[m,c,r]=function(e){const[t,n,o]=e,m=t/255,c=n/255,r=o/255,l=Math.min(m,c,r),s=Math.max(m,c,r),u=s-l;let d=0,y=0,a=0;return d=0===u?0:s===m?(c-r)/u%6:s===c?(r-m)/u+2:(m-c)/u+4,d=Math.round(60*d),d<0&&(d+=360),a=(s+l)/2,y=0===u?0:u/(1-Math.abs(2*a-1)),y=+(100*y).toFixed(1),a=+(100*a).toFixed(1),[d,y,a,parseInt(t),parseInt(n),parseInt(o)]}([t,n,o]),l=m+180>360?m-180:m+180;document.documentElement.style.setProperty("--primary-h",m),document.documentElement.style.setProperty("--saturation",`${c}%`),document.documentElement.style.setProperty("--lightness",`${r}%`),document.documentElement.style.setProperty("--complementary-color",l),document.documentElement.style.setProperty("--r",t/255),document.documentElement.style.setProperty("--g",n/255),document.documentElement.style.setProperty("--b",o/255),document.documentElement.style.setProperty("--cr",(255-t)/255),document.documentElement.style.setProperty("--cg",(255-n)/255),document.documentElement.style.setProperty("--cb",(255-o)/255)}();
    </script>
    
    {{!-- Scripts and styles for after load --}}
    <link rel="stylesheet" href="{{asset 'built/app.css'}}">
    <script src="{{asset 'built/app.js'}}" type="module" defer></script>

    {{#if @custom.syntax_highlighting}}
        {{#is "post"}}
        <script src="{{asset 'built/syntax-highlighting.js'}}" type="module" defer></script>
        {{/is}}
    {{/if}}

    {{!-- Output SEO + Meta data and other settings by Ghost --}}
    {{ghost_head}}

    <style>
        .kg-bookmark-card a.kg-bookmark-container{border-color:var(--border-color);border-radius:var(--radius);transition:border-color .3s}.kg-bookmark-card .kg-bookmark-icon{margin-inline:0 6px}.kg-bookmark-title{font-size:1rem}.kg-bookmark-content{padding:1rem}.kg-bookmark-description{font-size:var(--small);color:var(--element-light)}.kg-bookmark-metadata{font-size:var(--small)}.kg-bookmark-card:hover a.kg-bookmark-container{border-color:var(--primary-light);border-radius:var(--radius)}.kg-toggle-card{padding:1rem;border:1px solid var(--border-color);border-radius:var(--radius);box-shadow:none}.kg-btn,.kg-button-card,.kg-callout-card{border-radius:var(--radius)}.kg-toggle-heading svg{color:var(--primary-light)}.kg-toggle-card:hover .kg-toggle-heading svg{color:var(--primary)}.kg-button-card{font-family:inherit;font-weight:700;text-transform:uppercase}.kg-btn{height:initial;padding:var(--button-padding)}.kg-btn-accent{color:var(--button-text);background-color:var(--primary);transition:background-color .3s}.kg-btn-accent:hover{background-color:var(--primary-light);opacity:1}.kg-callout-card{padding:1rem;background-color:var(--border-color)}
    </style>
</head>

<body class="{{body_class}}">
    {{> "svg"}}

    {{> "navbar"}}

    {{> "nav-menu"}}

    {{{body}}}

    {{> "footer"}}

    {{> "search"}}

    {{!-- Ghost footer required, right before the closing body tag --}}
    {{ghost_foot}}
</body>

</html>