<!DOCTYPE html>
<html lang="{{@site.locale}}" color-mode="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta_title}}</title>
    
    {{!-- CSS and Fonts  --}}
    <link rel="dns-prefetch" href="//fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap">

    {{#if @site.cover_image}}
        {{#is "home"}}
    <link rel="preload" as="image" href="{{img_url @site.cover_image size='s'}}" media="(max-width: 299px)">
    <link rel="preload" as="image" href="{{img_url @site.cover_image size='m'}}" media="(min-width: 300px) and (max-width: 739px)">
    <link rel="preload" as="image" href="{{img_url @site.cover_image size='l'}}" media="(min-width: 740px) and (max-width: 1023px)">
    <link rel="preload" as="image" href="{{img_url @site.cover_image size='xl'}}" media="(min-width: 1024px)">
        {{/is}}
    {{/if}}


<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 
    <noscript>
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap" rel="stylesheet">
    </noscript>

    {{!-- {{> "color_scheme"}} --}}

    <style>
        @font-face {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Lato'),
            url({{asset 'fonts/Lato-Regular.woff2'}}) format('woff2'),
            url({{asset 'fonts/Lato-Regular.woff'}}) format('woff');
        }

        @font-face {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: local('Lato-Bold'),
            url({{asset 'fonts/Lato-Bold.woff2'}}) format('woff2'),
            url({{asset 'fonts/Lato-Bold.woff'}}) format('woff');
        }

        @font-face {
            font-family: 'Lato';
            font-style: italic;
            font-weight: 400;
            font-display: swap;
            src: local('Lato-Italic'),
            url({{asset 'fonts/Lato-Italic.woff2'}}) format('woff2'),
            url({{asset 'fonts/Lato-Italic.woff'}}) format('woff');
        }

        @font-face {
            font-family: 'Lato';
            font-style: italic;
            font-weight: 700;
            font-display: swap;
            src: local('Lato-BoldItalic'),
            url({{asset 'fonts/Lato-BoldItalic.woff2'}}) format('woff2'),
            url({{asset 'fonts/Lato-BoldItalic.woff'}}) format('woff');
        }

        body {
            font-family: 'Source Sans Pro', -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen,
                ubuntu, cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    </style>

    {{!-- Load scripts to execute before render --}}
    <script>
        if (
            localStorage.getItem('pref') === 'light' ||
            (window.matchMedia('(prefers-color-scheme: light)').matches &&
                !localStorage.getItem('pref'))
        ) {
            document.documentElement.setAttribute('color-mode', 'light');
        }

        const SEARCH_API = "{{@custom.search}}"
    </script>

    

    {{!-- Scripts and styles for after load --}}
    <link rel="stylesheet" href="{{asset 'built/app.css'}}">
    <script src="{{asset 'built/app.js'}}" defer></script>
    {{^is "home"}}
    <link rel="stylesheet" href="{{asset 'built/post.css'}}">
    <script src="{{asset 'built/post.js'}}" defer></script>
    {{/is}}

    {{!-- Output SEO + Meta data and other settings by Ghost --}}
    {{ghost_head}}
</head>

<body class="{{body_class}}">
    
    <main id="sm-main">
        {{{body}}}
    </main>    
        

   
    {{!-- Ghost footer required, right before the closing body tag --}}
    {{ghost_foot}}
</body>

</html>