<!DOCTYPE html>
<html lang="{{@site.locale}}" data-color-pref="{{@custom.color_mode}}" data-accent-color="{{@site.accent_color}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta_title}}</title>

    <link rel="preload" href="/assets/fonts/archivo-v16-latin-700.woff2" as="font" type="font/woff2" crossorigin>
     <link rel="preload" href="/assets/fonts/work-sans-v17-latin-regular.woff2" as='font' type="font/woff2" crossorigin>
    
    {{!-- CSS and Fonts --}}
    <link rel="preload" href="{{asset 'built/app.css'}}" as="style">

    {{! Load scripts to execute before render }}
    <script>
        const colorModePref = document.documentElement.dataset.colorPref;

        const colorModePrefOpposite = colorModePref === 'dark' ? 'light' : 'dark'

        if (
            localStorage.getItem('pref') === colorModePrefOpposite ||
            (window.matchMedia(`(prefers-color-scheme: ${colorModePrefOpposite})`).matches &&
                !localStorage.getItem('pref'))
        ) {
            document.documentElement.setAttribute('data-color-pref', colorModePrefOpposite);
        }

        {{!-- const SEARCH_API = "{{@custom.search}}" --}}
    </script>
    <script src="{{asset 'built/generateColorPalette.js'}}"></script>
    
    {{!-- Scripts and styles for after load --}}
    <link rel="stylesheet" href="{{asset 'built/app.css'}}">
    <script src="{{asset 'built/app.js'}}" defer></script>
    {{^is "home"}}
    <link rel="stylesheet" href="{{asset 'built/post.css'}}">
    <script src="{{asset 'built/post.js'}}" defer></script>
    {{/is}}

    {{#if @custom.syntax_highlighting}}
        {{#is "post"}}
        <link rel="stylesheet" href="{{asset 'built/syntax-highlighting.css'}}">
        <script src="{{asset 'built/syntax-highlighting.js'}}" defer></script>
        {{/is}}
    {{/if}}

    {{!-- Output SEO + Meta data and other settings by Ghost --}}
    {{ghost_head}}

    <link rel="stylesheet" href="{{asset '/built/ghost-cards.css'}}">
</head>

<body class="{{body_class}}">
    {{> "svg"}}

    {{> "navbar"}}

    {{> "nav-menu"}}

    {{{body}}}

    {{> "footer"}}

    {{> "search"}}


    {{!-- Ghost footer required, right before the closing body tag --}}
    {{ghost_foot}}
</body>

</html>