<!DOCTYPE html>
<html lang="{{@site.locale}}" color-mode="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{meta_title}}</title>
    {{!-- CSS and Fonts  --}}
    <link rel="dns-prefetch" href="//fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap">
    <link rel="preload" as="font" href="{{asset 'fonts/Lato-Regular.woff2'}}" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="style" href="{{asset 'built/app.css'}}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap" media="print"
        onload="this.media='all'">
    <noscript>
        <link href="https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap" rel="stylesheet">
    </noscript>
    
    <style>*,:after,:before{box-sizing:border-box;padding:0;margin:0}button{cursor:pointer;background:none;border:none}:root[color-mode=light]{--text:#0a0a0a;--textInverse:#f5f5f5;--text1:#171717;--text2:#39393a;--text3:#5a5a5c;--text4:#9ea0a2;--surface:#ebebeb;--surface1:#f0f0f0;--surface2:#f5f5f5;--surface3:#fafafa;--surface4:#fff;--primary:#0d48a0;--secondary:#a4002e;--three:#643791;--four:#8b1c76;--five:#a00053;--success:#48a00d;--error:#a40000;--error-hover:#520000;--gradient:linear-gradient(to right top,#0d48a0,#643791,#8b1c76,#a00053,#a4002e);--gradient-reverse:linear-gradient(to left top,#0d48a0,#643791,#8b1c76,#a00053,#a4002e)}:root[color-mode=dark]{--text:#f5f5f5;--textInverse:#0a0a0a;--text1:#e8e9e9;--text2:#c6c6c7;--text3:#a5a5a7;--text4:#616365;--surface:#181818;--surface1:#202020;--surface2:#282828;--surface3:#303030;--surface4:#383838;--primary:#80deea;--secondary:#ffab91;--three:#8cdbbf;--four:#b4d195;--five:#e0c081;--success:#b4d195;--error:#ff8f8f;--error-hover:#ff5c5c;--gradient:linear-gradient(to right top,#80deea,#8cdbbf,#b4d195,#e0c081,#ffab91);--gradient-reverse:linear-gradient(to left top,#80deea,#8cdbbf,#b4d195,#e0c081,#ffab91)}html{color:#f5f5f5;color:var(--text,#f5f5f5);background-color:#202020;background-color:var(--surface1,#202020);scroll-behavior:smooth}:link{text-decoration:none}:link,:visited{color:currentColor}::-moz-selection{color:#111;background-color:#e0c081}::selection{color:#111;background-color:#e0c081}:target{padding-top:3.25rem;margin-top:-3.25rem}@media(min-width:1024px){:target{padding-top:5.5rem;margin-top:5.5rem;margin-top:-5.5rem}}:focus{outline-width:1px;outline-style:dotted;outline-color:#a5a5a7;outline-color:var(--text3,#a5a5a7);outline-offset:3px}a:active,button:active{outline:none}::-moz-focus-inner{border:none;outline:none}html{font-size:1rem;font-size:clamp(1rem,.9090909090909091rem + .45454545454545453vw,1.25rem);font-weight:400;line-height:1.5;text-rendering:optimizeLegibility}h1,h2,h3,h4,h5{margin:3rem 0 1.38rem;font-family:"DM Serif Text",georgia,serif;font-weight:400;font-feature-settings:"liga","clig";font-variant-ligatures:common-ligatures;line-height:1.2;font-display:optional}h1{margin-top:0;font-size:2.488rem}h2{font-size:2.074rem}h3{font-size:1.728rem}h4{font-size:1.44rem}h5{font-size:1.2rem}.sm-text-small,small{font-size:.833rem}@-webkit-keyframes popup{0%{opacity:0;transform:translate(-50%,20px) scale(.8)}75%{opacity:1}to{transform:translate(-50%) scale(1)}}@keyframes popup{0%{opacity:0;transform:translate(-50%,20px) scale(.8)}75%{opacity:1}to{transform:translate(-50%) scale(1)}}@-webkit-keyframes slide-in{0%{top:-100%;opacity:0}to{top:1rem;opacity:1}}@keyframes slide-in{0%{top:-100%;opacity:0}to{top:1rem;opacity:1}}@-webkit-keyframes slide-out{0%{top:1rem;opacity:1}to{top:-100%;opacity:0}}@keyframes slide-out{0%{top:1rem;opacity:1}to{top:-100%;opacity:0}}@-webkit-keyframes mesh{0%{background-position:0 0,0 100%,50% 0,50% 25%,50% 100%}15%{background-position:1% 1%,1% 101%,51% 1%,51% 26%,51% 101%}30%{background-position:2% 2%,2% 102%,52% 2%,52% 26%,52% 102%}45%{background-position:3% 3%,3% 103%,53% 3%,53% 27%,53% 103%}60%{background-position:4% 4%,4% 104%,54% 4%,54% 28%,54% 104%}75%{background-position:5% 5%,5% 105%,55% 5%,55% 29%,55% 105%}90%{background-position:6% 6%,6% 106%,56% 6%,56% 30%,56% 106%}}@keyframes mesh{0%{background-position:0 0,0 100%,50% 0,50% 25%,50% 100%}15%{background-position:1% 1%,1% 101%,51% 1%,51% 26%,51% 101%}30%{background-position:2% 2%,2% 102%,52% 2%,52% 26%,52% 102%}45%{background-position:3% 3%,3% 103%,53% 3%,53% 27%,53% 103%}60%{background-position:4% 4%,4% 104%,54% 4%,54% 28%,54% 104%}75%{background-position:5% 5%,5% 105%,55% 5%,55% 29%,55% 105%}90%{background-position:6% 6%,6% 106%,56% 6%,56% 30%,56% 106%}}.outer-container,.outer-container--footer{position:relative;width:100%;padding:1rem}@media(min-width:640px)and (max-width:1023px){.outer-container,.outer-container--footer{padding:1rem 3rem 2rem}}@media(min-width:1024px){.outer-container,.outer-container--footer{padding:1rem 4rem 2rem}}.outer-container--footer{min-height:250px;font-size:.9rem;background-color:#181818;background-color:var(--surface,#181818);color:#e8e9e9;color:var(--text1,#e8e9e9);border-bottom:none}.inner-container,.inner-container--author,.inner-container--footer,.inner-container--hero{max-width:1024px;margin:0 auto 1rem}.inner-container--hero{position:relative;height:100%;margin-bottom:0}.inner-container--author{display:flex;flex-direction:column;align-items:center;justify-content:center;padding-bottom:1rem}@media(min-width:640px){.inner-container--author{flex-direction:row}}.footer__section,.footer__section--latest{display:flex;flex-direction:column;padding:.5rem}.footer__section--latest{color:#e8e9e9;color:var(--text1,#e8e9e9)}.footer__section--latest:nth-child(3){padding-bottom:.5rem}.footer__section--latest:last-child{padding-top:0}.footer__section--latest:last-child>p:first-child{display:block}.footer__link{margin-bottom:.15rem}.footer__description{margin-bottom:.25rem;color:#c7c7c8;color:var(--text2,#c7c7c8)}.footer__date{margin-bottom:.25rem;font-size:.75rem;text-transform:uppercase;color:#a5a5a7;color:var(--text3,#a5a5a7)}.footer__title{width:100%;max-width:12rem;margin-bottom:1rem;color:#c7c7c8;color:var(--text2,#c7c7c8);transition:color .2s}.footer__title:hover{color:#80deea;color:var(--primary,#80deea)}.footer__header--serif{margin-bottom:.5rem;font-size:115%}.footer__social{display:grid;grid-gap:1rem;grid-template-columns:repeat(auto-fit,1rem);margin-top:.5rem;transition:all .2s}@supports not (gap:1.5rem){.footer__social{display:flex;flex-wrap:wrap}.footer__social a{margin:.5rem}}.footer__social a{margin:0;border-radius:4px}.footer__social svg{width:100%;height:100%;stroke:#c7c7c8;stroke:var(--text2,#c7c7c8);fill:#c7c7c8;fill:var(--text2,#c7c7c8)}.footer__card-tag{display:flex;align-items:center;color:#c7c7c8;color:var(--text2,#c7c7c8)}.footer__card-tag p{margin:0;text-transform:uppercase;transition:all .2s}.footer__card-tag svg{flex-shrink:0;align-self:flex-start;width:.9375rem;height:.9375rem;transform:translateY(.2em);stroke:#c7c7c8;stroke:var(--text2,#c7c7c8);stroke-width:2px;transition:all .2s}.footer__card-tag:active p,.footer__card-tag:hover p{color:#ffab91;color:var(--secondary,#ffab91);outline:none}.footer__card-tag:active svg,.footer__card-tag:hover svg{stroke:#ffab91;stroke:var(--secondary,#ffab91)}.footer__published-by-ghost{padding:.5rem;font-size:.8rem;color:#a5a5a7;color:var(--text3,#a5a5a7);text-align:center}.menu__link{transition:color .2s}.menu__link:focus{outline:none;color:#80deea;color:var(--primary,#80deea)}.navbar{position:fixed;top:0;z-index:5;display:block;width:100%;font-size:.9rem;box-shadow:0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);background-color:#282828;background-color:var(--surface2,#282828);transition:all .2s}.navbar__top{display:none;height:2.25rem;padding:.25rem 1rem;border-bottom:1px solid #383838;border-bottom-color:var(--surface4,#383838)}@media(min-width:1024px){.navbar__top{display:flex;align-items:center;justify-content:space-between;font-size:.8rem}}.navbar__top--left,.navbar__top--right{display:flex;align-items:center}.navbar__top--right button{margin-right:0}.navbar__new-tag{padding:.15rem;margin-right:4px;font-size:.6rem;font-weight:700;line-height:1;text-transform:uppercase;letter-spacing:.2px;border-radius:4px;color:#0a0a0a;color:var(--textInverse,#0a0a0a);background-color:#ffab91;background-color:var(--secondary,#ffab91)}.navbar__new-link{font-size:.95em;line-height:1;transition:color .2s;color:#c7c7c8;color:var(--text2,#c7c7c8)}.navbar__new-link:hover{color:#f5f5f5;color:var(--text,#f5f5f5)}.navbar__bottom{display:flex;align-items:center;height:3.25rem;padding:.5rem 1rem}.navbar__bottom--center{display:none;margin-left:2rem}@media(min-width:1024px){.navbar__bottom--center{display:block}}.navbar__bottom div:last-child{margin-left:auto}.navbar__bottom--right{display:none;margin-left:auto}@media(min-width:1024px){.navbar__bottom--right{display:flex;align-items:center}}.navbar__bottom--right--mobile{margin:.5rem 0 0 auto;line-height:1.6}@media(min-width:1024px){.navbar__bottom--right--mobile{display:none}}.navbar__brand--serif{display:flex;align-items:center;font-family:"DM Serif Text",georgia,serif;font-size:1.25rem;font-weight:400;line-height:1.6}.navbar__brand--serif img{width:1.25rem;height:1.25rem;margin-right:.25rem}.navbar__signin,.navbar__signup{margin:.31rem .5rem 0 0;font-family:Lato,-apple-system,blinkmacsystemfont,Segoe UI,roboto,oxygen,ubuntu,cantarell,Open Sans,Helvetica Neue,sans-serif;font-size:.8rem;line-height:1.8;color:#c7c7c8;color:var(--text2,#c7c7c8);transition:color .2s}.navbar__signin:hover{color:#f5f5f5;color:var(--text,#f5f5f5)}.navbar__signup{padding:0 .25rem;margin-right:0;font-weight:700;border-radius:4px;box-shadow:0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);color:#0a0a0a;color:var(--textInverse,#0a0a0a);background-color:#80deea;background-color:var(--primary,#80deea);transition:background-color .2s}.navbar__signup:hover{background-color:#ffab91;background-color:var(--secondary,#ffab91)}.navbar__hamburger-btn{width:1.5rem;height:1.5rem}.navbar__hamburger-btn svg{width:100%;height:100%;stroke:#c7c7c8;stroke:var(--text2,#c7c7c8)}.navbar__hamburger-btn svg:hover{stroke:#f5f5f5;stroke:var(--text,#f5f5f5)}.navbar__search{display:none;width:1.5em;height:1.5em;margin-left:.5rem;line-height:1}.navbar__search svg{width:100%;height:100%;fill:transparent;stroke:#c7c7c8;stroke:var(--text2,#c7c7c8);transition:stroke .2s}.navbar__search svg:hover{stroke:#f5f5f5;stroke:var(--text,#f5f5f5)}.navbar .color-mode-btn{width:1.5em;height:1.5em;margin:0 .5rem;line-height:1}.navbar .color-mode-btn svg{width:100%;height:100%;fill:transparent;stroke:#c7c7c8;stroke:var(--text2,#c7c7c8);transition:stroke .2s}.navbar .color-mode-btn svg:hover{fill:#eee8aa;stroke:#f5f5f5;stroke:var(--text,#f5f5f5)}:root[color-mode=dark] .color-mode-btn.dark,:root[color-mode=light] .color-mode-btn.light{display:none}.navigation__social-media-item{width:1.25em;height:1.25em;margin-right:.5rem;color:#c7c7c8;color:var(--text2,#c7c7c8)}.navigation__social-media-item:last-child{margin-right:0}.navigation__social-media-item svg{width:100%;height:100%}.navigation__ul{list-style-type:none}.navigation__li{margin:.5rem 0;font-size:1.25rem}@media(min-width:1024px){.navigation__li{display:inline-block;margin:.31rem .5rem 0;font-size:.9rem;line-height:1.6}.navigation__li:first-child{margin-left:0}.navigation__li:last-child{margin-right:0}}.pagination{display:flex;align-items:center;justify-content:space-between;color:#c7c7c8;color:var(--text2,#c7c7c8)}.pagination>*{margin:2rem 1rem 0}.pagination>:first-child{margin-left:0}.pagination>:last-child{margin-right:0}.pagination a{transition:color .2s}.pagination a:hover{color:#80deea;color:var(--primary,#80deea)}.hero{position:relative;width:100%;height:27.5rem;margin-top:3.25rem;margin-bottom:2rem;overflow:hidden;background-position:50%;background-size:cover;background-color:#202020;background-color:var(--surface1,#202020)}@media(min-width:1024px){.hero{margin-top:5.5rem}}@media(min-height:60rem){.hero{height:37.5rem}}.hero:before{position:absolute;top:0;left:0;width:100%;height:100%;content:"";background:radial-gradient(rgba(0,0,0,.25),rgba(0,0,0,.5))}.hero__text-container{position:absolute;top:50%;width:100%;transform:translateY(-50%)}.hero__site-title{margin:0 0 .5rem;line-height:1.1;color:#fff}.hero__site-description{margin:0;font-size:1.25rem;line-height:1.2;color:hsla(0,0%,93.3%,.75)}

/*# sourceMappingURL=critical.css.map*/</style>

    <style>
        @font-face {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Lato'),
            url({{asset 'fonts/Lato-Regular.woff2'}}) format('woff2'),
            url({{asset 'fonts/Lato-Regular.woff'}}) format('woff');
        }

        @font-face {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: local('Lato'),
            url({{asset 'fonts/Lato-Bold.woff2'}}) format('woff2'),
            url({{asset 'fonts/Lato-Bold.woff'}}) format('woff');
        }

        @font-face {
            font-family: 'Lato';
            font-style: italic;
            font-weight: 400;
            font-display: swap;
            src: local('Lato'),
            url({{asset 'fonts/Lato-Italic.woff2'}}) format('woff2'),
            url({{asset 'fonts/Lato-Italic.woff'}}) format('woff');
        }

        @font-face {
            font-family: 'Lato';
            font-style: italic;
            font-weight: 700;
            font-display: swap;
            src: local('Lato'),
            url({{asset 'fonts/Lato-BoldItalic.woff2'}}) format('woff2'),
            url({{asset 'fonts/Lato-BoldItalic.woff'}}) format('woff');
        }

        body {
            font-family: 'Lato', -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen,
                ubuntu, cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    </style>
    <link rel="stylesheet" href="{{asset 'built/app.css'}}">

    {{!-- Load scripts to execute before render --}}
    <script>
        if (
            localStorage.getItem('pref') === 'light' ||
            (window.matchMedia('(prefers-color-scheme: light)').matches &&
                !localStorage.getItem('pref'))
        ) {
            document.documentElement.setAttribute('color-mode', 'light');
        }
    </script>

    {{!-- Scripts to be parsed after load --}}
    <script src="{{asset 'built/app.js'}}" defer></script>
    {{^is "home"}}
    <link rel="stylesheet" href="{{asset 'built/post.css'}}">
    <script src="{{asset 'built/post.js'}}" defer></script>
    {{/is}}

    {{!-- Output SEO + Meta data and other settings by Ghost --}}
    {{ghost_head}}
</head>

<body class="{{body_class}}">
    <a href="#sm-main" class="sm-button--color skip-to-content">Skip to content</a>
    {{> "svg"}}
    <div class="content-wrap">
        {{> "navbar"}}
        {{> "menu"}}
        {{> "search"}}
        {{{body}}}
        {{> "footer"}}
    </div>
    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}
    {{!-- Ghost footer required, right before the closing body tag --}}
    {{ghost_foot}}
</body>

</html>