{{!--
This error template is used for all 404 errors, which might occur on your site.
It's a good idea to keep this template as minimal as possible in terms of both file size and complexity.
--}}

{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Post Header  --}}
<header class="{{^if @site.cover_image}}post__no-img--container">{{else}}post__img">
    <img srcset="{{img_url @site.cover_image size="s"}} 300w,
                 {{img_url @site.cover_image size="m"}} 600w,
                 {{img_url @site.cover_image size="l"}} 1000w,
                 {{img_url @site.cover_image size="xl"}} 2000w" sizes="(min-width: 640px) 740px, 100vw"
        src="{{img_url @site.cover_image size="l"}}" alt="{{title}}">
    {{/if}}
    {{^if @site.cover_image}}
    <div class="post__no-img"></div>
    {{/if}}
</header>
{{!-- Post Header  --}}

<main class="main--error">
    <div class="main__outer-container">
        <div class="main__inner-container">
            <header class="post__header">
                <h1 class="main--error__heading">{{statusCode}}</h1>
                <p class="main--error__text">{{message}}</p>
            </header>
            <div class="divider">
                <div class="divider__rule"></div>
                <div class="divider__sm-block"></div>
                <div class="divider__lg-block"></div>
                <div class="divider__sm-block"></div>
                <div class="divider__rule"></div>
            </div>
            {{#get "posts" limit="3" include="authors,tags"}}
            <section>
                <h2>Recent Posts</h2>
                <div class="grid-container">
                    {{#foreach posts}}
                    {{> "card"}}
                    {{/foreach}}
                </div>
            </section>
            {{/get}}
        </div>
    </div>
</main>