{{!< default}}

<main id="sm-main">
    {{#match @custom.hero_title}}
        {{> "hero"}}
    {{/match}}

    <div class="sm-grid">
        <div class="sm-grid-home">
        {{#foreach posts}}
            {{> "card"}}
        {{/foreach}}

        {{> "cta-card"}}
       
        {{#get "tags" include="count.posts" limit="6" order="count.posts" as |tags|}}
            {{#foreach tags}}
            {{log this}}
                <article class="sm-tag-card {{@number}} {{^if feature_image}}sm-background-color{{/if}}">
                    {{#if feature_image}}<img src="{{img_url feature_image}}">{{/if}}
                    
                    <div class="sm-tag-card-body">
                        <a href="{{url}}">{{name}}</a>
                        <div class="sm-card-tag-meta">
                            <p>{{plural count.posts empty="" singular="% post" plural="% posts"}}</p>
                            <a class="sm-arrow-link" href="{{url}}" aria-label="Read posts about {{name}}">
                                <svg class="sm-arrow-icon"><use href="#sm-right-arrow-icon"></use></svg>
                            </a>
                        </div>
                    </div>
                </article>
            {{/foreach}}
        {{/get}}
        </div>
    </div>
</main>
    
{{pagination}}

