{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{! Hero }}
<div class="sm-grid">
    <div class="sm-inner-container sm-grid-feature">
    {{#foreach posts from="1" to="5"}}
        {{#if @first}}
            {{> "card" horizontal="true" premiere="true"}}
        {{else}}
            {{> "card"}}
        {{/if}}
    {{/foreach}}

    </div>
</div>

{{#match posts.length ">" "5"}}
<div class="sm-grid sm-home-accent">
    <div class="sm-inner-container sm-grid-feature-left">
        <aside class="sm-feature-card sm-cta-card">
            {{#if @site.icon}}
                <img src="{{img_url @site.icon}}">
            {{/if}}

            <form data-members-form="subscribe">
                <div class="sm-cta-copy sm-default">
                    <h2>Don't miss out</h2>
                    <p>Sign up for the newsletter</p>
                </div>
                
                <div class="sm-cta-copy sm-success">
                    <h2>Nice!</h2>
                    <p>Check your email for a sign in link</p>
                </div>
                <div class="sm-cta-copy sm-error">
                    <h2>Oh, no</h2>
                    <p>Something went wrong. Try again.</p>
                </div>
                <input data-members-email type="email" placeholder="your email" required>
                <button class="sm-icon-button sm-default"><svg aria-hidden="true"><use href="#sm-mail-icon"></use></svg>subscribe</button>
                <button class="sm-icon-button sm-loading"><svg aria-hidden="true"><use href="#sm-loading-icon"></use></svg>loading</button>
                <button class="sm-icon-button sm-success"><svg aria-hidden="true"><use href="#sm-mail-check-icon"></use></svg>success</button>
                <button class="sm-icon-button sm-error"><svg aria-hidden="true"><use href="#sm-error-icon"></use></svg>error</button>
            </form>
        </aside>
        {{#foreach posts from="6" to="7"}}
            {{> "card" horizontal="true"}}
        {{/foreach}}

        {{#foreach posts from="8" to="10"}}
            {{> "card"}}
        {{/foreach}}
    </div>
</div>
{{/match}}

{{#match posts.length ">" "10"}}
<div class="sm-grid">
    <div class="sm-inner-container sm-grid-feature-right">
        {{#foreach posts from="11" to="12"}}
            {{> "card" horizontal="true"}}
        {{/foreach}}

        {{#foreach posts from="13" to="15"}}
            {{> "card"}}
        {{/foreach}}

        {{#get "tags" include="count.posts" limit="5" order="count.posts desc"}}
            <aside class="sm-feature-card sm-tags-card">
                <h2>Hot Topics</h2>
                {{#foreach tags}}
                <a href="{{url}}">{{name}} <span>{{count.posts}}</span></a>
                {{/foreach}}
            </aside>
        {{/get}}
    </div>
</div>
{{/match}}

{{#match pagination.pages ">" 1}}
<div class="sm-grid sm-pagination-container">
    {{pagination}}
</div>
{{/match}}