{{!< default}}

<main id="sm-main">
    

    <div class="sm-grid">
        <div class="sm-grid-home">
        {{#match @custom.hero_description}}
            {{> "hero"}}
        {{/match}}

        {{#foreach posts from="1" to="4"}}
            {{#if featured}}
                {{> "cards/card-featured"}}
            {{else}}
                {{> "cards/card-base"}}
            {{/if}}
        {{/foreach}}

        {{> "cards/card-cta"}}

        {{#if @custom.social_media_1_url}}
            <article class="sm-card sm-card-small-square sm-card-social-media {{@custom.social_media_1}}">
                <a class="sm-flex-v" href="{{@custom.social_media_1_url}}" aria-label="Follow me on {{@custom.social_media_1 }}">
                    <svg aria-hidden="true">
                        <use href="#{{@custom.social_media_1}}-icon"></use>
                    </svg>
                </a>
            </article>
        {{/if}}

        {{#if @custom.social_media_2_url}}
            <article class="sm-card sm-card-small-square sm-card-social-media {{@custom.social_media_2}}">
                <a class="sm-flex-v" href="{{@custom.social_media_2_url}}" aria-label="Follow me on {{@custom.social_media_2 }}">
                    <svg aria-hidden="true">
                        <use href="#{{@custom.social_media_2}}-icon"></use>
                    </svg>
                </a>
            </article>
        {{/if}}

        {{#foreach posts from="4" to="8"}}
            {{#if featured}}
                {{> "cards/card-featured"}}
            {{else}}
                {{> "cards/card-base"}}
            {{/if}}
        {{/foreach}}

        {{#get "posts" limit="1" order="published_at asc"}}
            {{#foreach posts}}
                <article class="sm-card sm-card-number sm-card-number-reversed sm-card-small-square sm-flex-v">
                    <p class="sm-card-number-description">The first post was published on</p>
                    <p class="sm-card-number-focus">{{date published_at}}</p>
                </article>
            {{/foreach}}
        {{/get}}

        <article class="sm-card sm-card-number sm-card-small-square sm-flex-v">
           <p class="sm-card-number-focus">{{pagination.total}}</p>
           <p class="sm-card-number-description">{{plural pagination.total empty="" singular="post published" plural="total posts published"}}</p>
        </article>

        {{#if @custom.social_media_3_url}}
            <article class="sm-card sm-card-small-square sm-card-social-media {{@custom.social_media_3}}">
                <a class="sm-flex-v" href="{{@custom.social_media_3_url}}" aria-label="Follow me on {{@custom.social_media_3 }}">
                    <svg aria-hidden="true">
                        <use href="#{{@custom.social_media_3}}-icon"></use>
                    </svg>
                </a>
            </article>
        {{/if}}

        {{#if @custom.social_media_4_url}}
            <article class="sm-card sm-card-small-square sm-card-social-media {{@custom.social_media_4}}">
                <a class="sm-flex-v" href="{{@custom.social_media_4_url}}" aria-label="Follow me on {{@custom.social_media_4 }}">
                    <svg aria-hidden="true">
                        <use href="#{{@custom.social_media_4}}-icon"></use>
                    </svg>
                </a>
            </article>
        {{/if}}

        {{#foreach posts from="9" to="12"}}
            {{#if featured}}
                {{> "cards/card-featured"}}
            {{else}}
                {{> "cards/card-base"}}
            {{/if}}
        {{/foreach}}

         {{#if @site.members_enabled}}
        <article class="sm-card sm-card-number sm-card-small-square sm-flex-v">
           <p class="sm-card-number-focus">{{total_members}}</p>
           <p class="sm-card-number-description">members</p>
        </article>
        {{/if}}


        {{#get "tags" limit="all"}}
        {{#if tags}}
            <article class="sm-card-topics sm-card-landscape">
                <a href="/topics">
                    <h2>Explore {{tags.length}} topics&nbsp;&rarr;</h2>
                {{#foreach tags limit="12"}}
                    {{#if feature_image}}
                         <picture class="">
                    <source 
                        srcset="
                        {{img_url feature_image size="48" format="avif"}} 48w,
                        {{img_url feature_image size="80" format="avif"}} 80w,
                        {{img_url feature_image size="160" format="avif"}} 160w,
                        {{img_url feature_image size="240" format="avif"}} 240w,
                        {{img_url feature_image size="528" format="avif"}} 528w,
                        {{img_url feature_image size="800" format="avif"}} 800w,
                        {{img_url feature_image size="1200" format="avif"}} 1200w,
                        {{img_url feature_image size="1600" format="avif"}} 1600w,
                        {{img_url feature_image size="1920" format="avif"}} 1920w,
                        {{img_url feature_image size="2000" format="avif"}} 2000w"
                        sizes="240px" 
                        type="image/avif"
                    >
                    <source 
                        srcset="
                        {{img_url feature_image size="48" format="webp"}} 48w,
                        {{img_url feature_image size="80" format="webp"}} 80w,
                        {{img_url feature_image size="160" format="webp"}} 160w,
                        {{img_url feature_image size="240" format="webp"}} 240w,
                        {{img_url feature_image size="528" format="webp"}} 528w,
                        {{img_url feature_image size="800" format="webp"}} 800w,
                        {{img_url feature_image size="1200" format="webp"}} 1200w,
                        {{img_url feature_image size="1600" format="webp"}} 1600w,
                        {{img_url feature_image size="1920" format="webp"}} 1920w,
                        {{img_url feature_image size="2000" format="webp"}} 2000w"
                        sizes="240px" 
                        type="image/webp"
                    >
                    <img
                        srcset="
                        {{img_url feature_image size="48"}} 48w,
                        {{img_url feature_image size="80"}} 80w,
                        {{img_url feature_image size="160"}} 160w,
                        {{img_url feature_image size="240"}} 240w,
                        {{img_url feature_image size="528"}} 528w,
                        {{img_url feature_image size="800"}} 800w,
                        {{img_url feature_image size="1200"}} 1200w,
                        {{img_url feature_image size="1600"}} 1600w,
                        {{img_url feature_image size="1920"}} 1920w,
                        {{img_url feature_image size="2000"}} 2000w"
                        sizes="240px" 
                        src="{{img_url feature_image size="240"}}"
                        alt="{{name}}"
                        loading="lazy"
                        width="240"
                        height="135"
                    >
                    </picture>
                    {{/if}}
                   
                {{/foreach}}
            </a>
            </article>
        {{/if}}
        {{/get}}
         
        {{#foreach posts from="13" to="15"}}
           {{#if featured}}
                {{> "cards/card-featured"}}
            {{else}}
                {{> "cards/card-base"}}
            {{/if}}
        {{/foreach}}

       
        {{#get "tags" include="count.posts" limit="6" order="count.posts" as |tags|}}
            {{#foreach tags}}
               {{> "cards/card-tag"}}
            {{/foreach}}
        {{/get}}
       
        </div>
    </div>
</main>
    
{{pagination}}

