{{!< default}} <main id="sm-main">
    {{#match @custom.hero_description}}
    {{> "hero"}}
    {{/match}}

    <div class="sm-grid">
        <h2 class="sm-home-header">These Are the Latest Posts</h2>
        <section class="sm-home-grid">
            {{#foreach posts from="1" to="6"}}
            {{> "cards/card-base"}}
            {{/foreach}}
        </section>

        <h2 class="sm-home-header">Check It Out. I'm Online</h2>
        <section class="sm-home-grid sm-social-media-container">
            {{#if @custom.social_media_1_url}}
            <article class="sm-card sm-card-small-square sm-card-social-media {{@custom.social_media_1}}">
                <a class="sm-flex-v" href="{{@custom.social_media_1_url}}"
                    aria-label="Follow me on {{@custom.social_media_1 }}">
                    <svg aria-hidden="true">
                        <use href="#{{@custom.social_media_1}}-icon"></use>
                    </svg>
                </a>
            </article>
            {{/if}}
            {{#if @custom.social_media_2_url}}
            <article class="sm-card sm-card-small-square sm-card-social-media {{@custom.social_media_2}}">
                <a class="sm-flex-v" href="{{@custom.social_media_2_url}}"
                    aria-label="Follow me on {{@custom.social_media_2 }}">
                    <svg aria-hidden="true">
                        <use href="#{{@custom.social_media_2}}-icon"></use>
                    </svg>
                </a>
            </article>
            {{/if}}
            {{#if @custom.social_media_3_url}}
            <article class="sm-card sm-card-small-square sm-card-social-media {{@custom.social_media_3}}">
                <a class="sm-flex-v" href="{{@custom.social_media_3_url}}"
                    aria-label="Follow me on {{@custom.social_media_3 }}">
                    <svg aria-hidden="true">
                        <use href="#{{@custom.social_media_3}}-icon"></use>
                    </svg>
                </a>
            </article>
            {{/if}}
            {{#if @custom.social_media_4_url}}
            <article class="sm-card sm-card-small-square sm-card-social-media {{@custom.social_media_4}}">
                <a class="sm-flex-v" href="{{@custom.social_media_4_url}}"
                    aria-label="Follow me on {{@custom.social_media_4 }}">
                    <svg aria-hidden="true">
                        <use href="#{{@custom.social_media_4}}-icon"></use>
                    </svg>
                </a>
            </article>
            {{/if}}
        </section>

        <h2 class="sm-home-header">What I'm Listening To</h2>
        <section class="sm-music-grid">
            <div class="sm-music-text">
                <h3>A Crumb Coat of the Mind</h3>
                <p>18 tracks / 1 hour, 17 minutes</p>
                <div class="sm-music-pager">
                    <ol class="sm-music-page sm-music-active">
                        <li>Dune - Kikagaku Moyo</li>
                        <li>I Won't Be There - Skinshape</li>
                        <li>Staring At The Sun - Wooden Shjips</li>
                        <li>Snow Days (feat. Real Estate) - Real Estate</li>
                        <li>Spitting Off the Edge of the World (feat. Perfume Genius) - Yeah Yeah Yeahs</li>
                        <li>Paprika - Japanese Breakfast</li>
                        <li>Dopamine - DIIV</li>
                        <li>Locket - Crumb</li>
                        <li>Not Strong Enough - boygenius</li>
                        <li>Wasted Acres - Grizzly Bear</li>
                    </ol>
                    <ol class="sm-music-page" start="11">
                        <li>Mind Fields - No Vacation</li>
                        <li>Big Sis - SALES</li>
                        <li>Show Me How - Men I Trust</li>
                        <li>Elbow Pain - Glue Trip</li>
                        <li>Redbone - Childish Gambino</li>
                        <li>Idaho Alien - Youth Lagoon</li>
                        <li>Psychos - Jenny Lewis</li>
                        <li>Love Again - Meltt</li>
                    </ol>
                    <div class="sm-music-pager-controls sm-flex-h">
                        <button class="sm-circle-icon-button">
                            <svg aria-hidden="true">
                                <use href="#sm-left-arrow-icon"></use>
                            </svg>
                        </button>
                        <button class="sm-circle-icon-button">
                            <svg aria-hidden="true">
                                <use href="#sm-right-arrow-icon"></use>
                            </svg>
                        </button>
                        </button>
                    </div>
                </div>
            </div>
            <div class="sm-music-iframe">
                <iframe loading="lazy"
                    src="https://www.youtube.com/embed/videoseries?list=PLnPe3mrvTpEzNINsV2kNqY_LTeNkdprdL"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen=""></iframe>
            </div>
        </section>


        <h2 class="sm-home-header">The Good Posts Keep On Rollin'</h2>
        <div class="sm-home-grid">
            {{#foreach posts from="7" to="12"}}
            {{> "cards/card-base"}}
            {{/foreach}}
        </div>

        <h2 class="sm-home-header">A Short History of This Site</h2>
        <p class="sm-home-history">I published the first post on this site {{#get "posts" limit="1" order="published_at
            asc"}}{{#foreach posts}}{{date timeago="true"}}{{/foreach}}{{/get}}. Since then, I&rsquo;ve racked up
            {{pagination.total}} posts and {{total_members}} members. If you&rsquo;re the type who is interested in
            building things on the web or just randomly likes to sign up for things, consider <a
                href="#/portal/signup">subscribing</a>. It&rsquo;s free, spamless, and you can unsub at any time.</p>

        <h2 class="sm-home-header">Let's Keep Things Topical</h2>
        <div class="sm-home-grid">
            {{#get "tags" include="count.posts" limit="8" order="count.posts desc" filter="visibility:public" as
            |tags|}}
            {{#foreach tags}}
            {{> "cards/card-tag"}}
            {{/foreach}}
            {{/get}}
        </div>

        <h2 class="sm-home-header">A Smidge More Posts</h2>
        <div class="sm-home-grid">
            {{#foreach posts from="13" to="18"}}
            {{> "cards/card-base"}}
            {{/foreach}}
        </div>
    </div>
    </div>
    </main>

    {{pagination}}