{{!< default}}

<main id="sm-main">
    {{#match @custom.hero_description}}
        {{> "hero"}}
    {{/match}}

    

    <div class="sm-grid">
        <h2 class="sm-home-header">These Are the Latest Posts</h2>
        <div class="sm-grid-home">
            {{#foreach posts from="1" to="5"}}
                {{#if @first}}
                    {{> "cards/card-featured"}}
                {{else}}
                    {{> "cards/card-base"}}
                {{/if}}
            {{/foreach}}
        </div>

        <h2 class="sm-home-header">Check It Out. I'm Online</h2>
        <div class="sm-grid-home">
            {{#if @custom.social_media_1_url}}
            <article class="sm-card sm-card-small-square sm-card-social-media {{@custom.social_media_1}}">
                <a class="sm-flex-v" href="{{@custom.social_media_1_url}}" aria-label="Follow me on {{@custom.social_media_1 }}">
                    <svg aria-hidden="true">
                        <use href="#{{@custom.social_media_1}}-icon"></use>
                    </svg>
                </a>
            </article>
            {{/if}}
            {{#if @custom.social_media_2_url}}
            <article class="sm-card sm-card-small-square sm-card-social-media {{@custom.social_media_2}}">
                <a class="sm-flex-v" href="{{@custom.social_media_2_url}}" aria-label="Follow me on {{@custom.social_media_2 }}">
                    <svg aria-hidden="true">
                        <use href="#{{@custom.social_media_2}}-icon"></use>
                    </svg>
                </a>
            </article>
            {{/if}}
            {{#if @custom.social_media_3_url}}  
            <article class="sm-card sm-card-small-square sm-card-social-media {{@custom.social_media_3}}">
                <a class="sm-flex-v" href="{{@custom.social_media_3_url}}" aria-label="Follow me on {{@custom.social_media_3 }}">
                    <svg aria-hidden="true">
                        <use href="#{{@custom.social_media_3}}-icon"></use>
                    </svg>
                </a>
            </article>
            {{/if}}
            {{#if @custom.social_media_4_url}}
            <article class="sm-card sm-card-small-square sm-card-social-media {{@custom.social_media_4}}">
                <a class="sm-flex-v" href="{{@custom.social_media_4_url}}" aria-label="Follow me on {{@custom.social_media_4 }}">
                    <svg aria-hidden="true">
                        <use href="#{{@custom.social_media_4}}-icon"></use>
                    </svg>
                </a>
            </article>
            {{/if}}
        </div>

        <h2 class="sm-home-header">The Good Posts Keep On Rollin'</h2>
        <div class="sm-grid-home">
            {{#foreach posts from="6" to="10"}}
                {{#if @first}}
                    {{> "cards/card-featured"}}
                {{else}}
                    {{> "cards/card-base"}}
                {{/if}}
            {{/foreach}}
        </div>

        <h2 class="sm-home-header">A Short History of This Site</h2>
        <p class="sm-home-history">I published the first post on this site {{#get "posts" limit="1" order="published_at asc"}}{{#foreach posts}}{{date timeago="true"}}{{/foreach}}{{/get}}. Since then, I&rsquo;ve racked up {{pagination.total}} posts and {{total_members}} members. If you&rsquo;re the type who is interested in building things on the web or just randomly likes to sign up for things, consider <a href="#/portal/signup">subscribing</a>. It&rsquo;s free, spamless, and you can unsub at any time.</p>

        <h2 class="sm-home-header">Let's Keep Things Topical</h2>
        <div class="sm-grid-home">
        {{#get "tags" include="count.posts" limit="8" order="count.posts desc" filter="visibility:public" as |tags|}}
        {{log tags}}
            {{#foreach tags}}
               {{> "cards/card-tag"}}
            {{/foreach}}
        {{/get}}
        </div>
        
        <h2 class="sm-home-header">A Smidge More Posts</h2>
        <div class="sm-grid-home">
        {{#foreach posts from="11" to="15"}}
            {{#if @first}}
                {{> "cards/card-featured"}}
            {{else}}
                {{> "cards/card-base"}}
            {{/if}}
        {{/foreach}}
        </div>
        </div>
    </div>
</main>
    
{{pagination}}

