{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#post}}

{{!-- Post Header  --}}
<header class="{{^if feature_image}}sm-post__no-img--container">{{else}}sm-post__img">
    <img srcset="{{img_url feature_image size="s"}} 300w,
                 {{img_url feature_image size="m"}} 740w,
                 {{img_url feature_image size="l"}} 1000w" sizes="(min-width: 1124px) 1000px, 100vw"
        src="{{img_url feature_image size="l"}}" alt="{{title}}" height="340">
    {{/if}}
    {{^if feature_image}}
    <div class="sm-post__no-img"></div>
    {{/if}}
</header>
{{!-- Main  --}}
<main class="sm-main" id="sm-main">
    <div class="sm-main__outer-container">
        <div class="sm-main__inner-container">
            <article class="{{post_class}}">
                <header class="sm-post__header">
                    <h1 class="sm-post__title--serif">{{title}}</h1>
                </header>
                <div class="sm-post__content">
                {{#if access}}
                    {{content}}
                {{else}}
                <p>You ain't a member, butt</p>
                {{/if}}
                </div>
            </article>
        </div>
    </div>
</main>
{{!-- Main --}}
{{> "share"}}
{{/post}}

{{#contentFor "scripts"}}
<script>
    (function (window, document) {
        var resizeImagesInGalleries = function resizeImagesInGalleries() {
            var images = document.querySelectorAll('.kg-gallery-image img');
            images.forEach(function (image) {
                var container = image.closest('.kg-gallery-image');
                var width = image.attributes.width.value;
                var height = image.attributes.height.value;
                var ratio = width / height;
                container.style.flex = ratio + ' 1 0%';
            });
        };
        document.addEventListener('DOMContentLoaded', resizeImagesInGalleries);
    })(window, document);
</script>
{{/contentFor}}