{{!< default}} {{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template
    --}} 
{{#post}} 
{{> "header"}}

<main id="sm-main">
    <article class="sm-content-grid sm-post-content {{post_class}} {{slug}}">
        {{content}}
    </article>
</main>       

<section class="sm-grid">
    {{comments}}
    <div class="sm-related-posts">
        {{#get "posts" limit="3" include="tags" filter="id:-{{id}}+tag:[{{tags.[*].slug}}]" as |related|}}
            {{#if related}}
            <h2>Read this next</h2>
            <div class="sm-related-posts-grid-container">
                {{#foreach related}}
                    {{> "card"}}
                {{/foreach}}
            </div>
            {{/if}}
        {{/get}}
    </div>
</section>
{{/post}}