{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#post}}

{{!-- Post Header  --}}

{{!-- Main  --}}
<main class="sm-main" id="sm-main">
    <div class="sm-outer-container">
        <div class="sm-inner-container">
            {{> header-img}}
            <article class="{{post_class}} sm-post">
                <header class="sm-post__header">
                    <h1 class="sm-post__title--serif">{{title}}</h1>
                    <div class="sm-post__author">
                        {{authors}} &middot;
                        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMM DD, YYYY"}}</time>
                    </div>
                        {{! Tags }}
                        {{#if tags}}
                    <div class="sm-post__tag-bar">
                        {{#foreach tags}}
                        <a href="{{url}}" class="sm-tag">{{name}}  </a>
                        {{/foreach}}
                    </div>
                    {{/if}}
                    {{! Tags }}
                </header>
                <div class="sm-post__content">
                    {{content}}
                </div>
            </article>
            
            <hr>

            <footer class="sm-post-footer">
                {{#has author="count:<2"}}
                <h3 class="sm-post-footer__title-1">About the Author</h3>
                {{else}}
                <h3 class="sm-post-footer__title-1">About the Authors</h3>
                {{/has}}
                <h3 class="sm-post-footer__title-2">More to Read</h3>
                {{#has author="count:<2"}}
                {{#primary_author}}
                <div class="sm-post-footer__author">
                    <div class="sm-post-footer__author-img-container">
                        <a href="{{url}}" class="sm-post-footer__author-img-link" aria-label="{{name}}">
                            {{#if profile_image}}
                            <img class="sm-post-footer__author-img" src="{{img_url profile_image size="s"}}"
                                alt="{{name}}" />
                            {{else}}
                            <div class="sm-post-footer__no-author-img">
                                <svg>
                                    <use href="#user"/>
                                </svg>
                            </div>
                            {{/if}}
                        </a>
                        <div>
                            <a class="sm-post-footer__author-name" href="{{url}}">{{name}}</a>
                            <div class="sm-post-footer__author-social">
                                {{#if twitter}}
                                <a class="twitter" href="{{twitter_url}}" aria-label="Twitter">
                                    <svg>
                                        <use href="#twitter"></use>
                                    </svg>
                                </a>
                                {{/if}}
                                {{#if facebook}}
                                <a class="facebook" href="{{facebook_url}}" aria-label="Facebook">
                                    <svg>
                                        <use href="#facebook"></use>
                                    </svg>
                                </a>
                                {{/if}}
                                {{#if website}}
                                <a class="website" href="{{website}}" aria-label="{{website}}">
                                    <svg>
                                        <use href="#website"></use>
                                    </svg>
                                </a>
                                {{/if}}
                            </div>
                            {{#if location}}
                            <div class="sm-post-footer__author-location">
                                <svg aria-hidden="true">
                                    <use href="#location"></use>
                                </svg>
                                <p>{{location}}</p>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                    {{#if bio}}
                    <p>{{bio}}</p>
                    {{/if}}
                </div>
                {{/primary_author}}
                
                {{! If multiple authors }}
                {{else}}
                <div class="sm-post-footer__author">
                    {{#foreach authors}}
                    <div class="sm-post-footer__author-img-container--authors">
                        <a href="{{url}}" class="sm-post-footer__author-img-link" aria-label="{{name}}">
                            {{#if profile_image}}
                            <img class="sm-post-footer__author-img" src="{{img_url profile_image size="s"}}"
                                alt="{{name}}" />
                            {{else}}
                            <div class="sm-post-footer__no-author-img">
                            </div>
                            {{/if}}
                        </a>
                        <div>
                            <a class="sm-post-footer__author-name" href="{{url}}">{{name}}</a>
                            <div class="sm-post-footer__author-social">
                                {{#if twitter}}
                                <a class="twitter" href="{{twitter_url}}" aria-label="Twitter">
                                    <svg>
                                        <use href="#twitter"></use>
                                    </svg>
                                </a>
                                {{/if}}
                                {{#if facebook}}
                                <a class="facebook" href="{{facebook_url}}" aria-label="Facebook">
                                    <svg>
                                        <use href="#facebook"></use>
                                    </svg>
                                </a>
                                {{/if}}
                                {{#if website}}
                                <a class="website" href="{{website}}" aria-label="{{website}}">
                                    <svg>
                                        <use href="#website"></use>
                                    </svg>
                                </a>
                                {{/if}}
                            </div>
                            {{#if location}}
                            <div class="sm-post-footer__author-location">
                                <svg aria-hidden="true">
                                    <use href="#location"></use>
                                </svg>
                                <p>{{location}}</p>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                    {{/foreach}}
                </div>
                {{/has}}
                
                {{#get "posts" include="tags" limit="2" filter="id:-{{id}}"}}
                    {{#foreach posts}}
                    <div class="sm-related-posts sm-related-posts-{{@number}}">
                        {{> "card"}}
                    </div>
                    {{/foreach}}
                {{/get}}

            </footer>

            <section class="sm-comments">{{!-- Add comment code here --}}</section>
        </div>
    </div>
</main>
{{/post}}

{{#contentFor "scripts"}}
<script>
    (function (window, document) {
        var resizeImagesInGalleries = function resizeImagesInGalleries() {
            var images = document.querySelectorAll('.kg-gallery-image img');
            images.forEach(function (image) {
                var container = image.closest('.kg-gallery-image');
                var width = image.attributes.width.value;
                var height = image.attributes.height.value;
                var ratio = width / height;
                container.style.flex = ratio + ' 1 0%';
            });
        };
        document.addEventListener('DOMContentLoaded', resizeImagesInGalleries);
    })(window, document);
</script>
{{/contentFor}}