{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
{{#tag}}


{{!-- Post Header  --}}
{{!-- Main  --}}
<main class="sm-main" id="sm-main">
    <div class="sm-outer-container">
        <div class="sm-inner-container">
            {{> header-img}}
            <section class="{{slug}}">
                <header class="sm-post__header">
                    <h1 class="sm-post__title--serif">{{name}}</h1>
                    {{#if description}}
                    <p>{{description}}</p>
                    {{/if}}
                </header>
                {{/tag}}
                <div class="sm-grid-container sm-grid-container-{{posts.length}}">
                    {{#foreach posts}}
                    {{> "card"}}
                    {{/foreach}}
                </div>
            </section>
            {{pagination}}
        </div>
    </div>
</main>
{{!-- Main --}}