
<article class="sm-card sm-card-landscape {{#is "home"}}sm-card-{{@number}}{{/is}} {{slug}} sm-featured-card {{#if feature_image}}sm-feature-image-card{{else}}sm-no-image-card{{/if}}">
    <a href="{{url}}">
      {{#if feature_image}}
      <picture>
        <source
          srcset="
          {{img_url feature_image size="48" format="avif"}} 48w,
          {{img_url feature_image size="80" format="avif"}} 80w,
          {{img_url feature_image size="160" format="avif"}} 160w,
          {{img_url feature_image size="240" format="avif"}} 240w,
          {{img_url feature_image size="528" format="avif"}} 528w,
          {{img_url feature_image size="800" format="avif"}} 800w,
          {{img_url feature_image size="1200" format="avif"}} 1200w,
          {{img_url feature_image size="1600" format="avif"}} 1600w,
          {{img_url feature_image size="1920" format="avif"}} 1920w,
          {{img_url feature_image size="2000" format="avif"}} 2000w"
          sizes="(min-width: 767px) 800px, 100vw"
          type="image/avif"
        >
        <source
          srcset="
          {{img_url feature_image size="48" format="webp"}} 48w,
          {{img_url feature_image size="80" format="webp"}} 80w,
          {{img_url feature_image size="160" format="webp"}} 160w,
          {{img_url feature_image size="240" format="webp"}} 240w,
          {{img_url feature_image size="528" format="webp"}} 528w,
          {{img_url feature_image size="800" format="webp"}} 800w,
          {{img_url feature_image size="1200" format="webp"}} 1200w,
          {{img_url feature_image size="1600" format="webp"}} 1600w,
          {{img_url feature_image size="1920" format="webp"}} 1920w,
          {{img_url feature_image size="2000" format="webp"}} 2000w"
          sizes="(min-width: 767px) 800px, 100vw"
          type="image/webp"
        >
        <img
          srcset="
          {{img_url feature_image size="48"}} 48w,
          {{img_url feature_image size="80"}} 80w,
          {{img_url feature_image size="160"}} 160w,
          {{img_url feature_image size="240"}} 240w,
          {{img_url feature_image size="528"}} 528w,
          {{img_url feature_image size="800"}} 800w,
          {{img_url feature_image size="1200"}} 1200w,
          {{img_url feature_image size="1600"}} 1600w,
          {{img_url feature_image size="1920"}} 1920w,
          {{img_url feature_image size="2000"}} 2000w"
          sizes="(min-width: 767px) 800px, 100vw"
          src="{{img_url feature_image size="528"}}"
          alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
          {{^if @first}}loading="lazy"{{/if}}
          width="528" height="297"
        >
      </picture>
      {{/if}}
      
      <div class="sm-card-body">
        <h3 class="sm-card-title">{{^if access}}<svg aria-label="premium content"><use href="#sm-lock-icon"></use></svg>{{/if}}{{title}}</h3>
        <div class="sm-flex-h">
                <p class="sm-card-excerpt">
                  {{excerpt}}
                </p>
                <div class="sm-card-navigation">
                    <svg aria-hidden="true">
                        <use href="#sm-chevron-icon"></use>
                    </svg>
                </div>
            </div>
      </div>
    </a>
</article>