{{!-- Card  --}}
<article class="card card-{{@number}} {{slug}}">
    <a class="card__link" href="{{url}}" aria-label="{{title}}">
        {{#if feature_image}}
        <img class="card__img" loading="lazy" srcset="{{img_url feature_image size="s"}} 300w,
            {{img_url feature_image size="m"}} 600w,
            {{img_url feature_image size="l"}} 1000w,
            {{img_url feature_image size="xl"}} 2000w" sizes="(max-width: 640px) 90vw,
            (max-width: 1280px) 60vw,
            1300px" src="{{img_url feature_image size="xl"}}" alt="" />
        {{else}}
        <div class="card__no-img"></div>
        {{/if}}
    </a>
    <div class="card__body">
        <div class="card__date-tag">
            <p class="card__date" datetime="{{date format='YYYY-MM-DD'}}">{{date timeago="true"}}</p>
            {{#primary_tag}}<a href="{{url}}" class="card__tag {{slug}}"><svg aria-hidden="true">
                    <use href="#hash"></use>
                </svg>
                <p>
                    {{name}}
                </p>
            </a>{{/primary_tag}}
        </div>
        <a href="{{url}}">
            <h3 class="card__title">{{title}}</h3>
        </a>
        <p class="card__excerpt">{{excerpt}}</p>
    </div>
</article>
{{!-- Card  --}}