<form method="post" action="{{action}}" class="{{form_class}} modal-form flex-row {{#if error}} error {{/if}}">
    {{! This is required for the form to work correctly }}
    {{hidden}}

    {{input_email class=input_class placeholder=placeholder value=email autofocus=autofocus}}
    <button class="modal-btn" type="submit">Subscribe</button>
    <label for="modal-subscribe">Email</label>

    {{! This is used to get extra info about where this subscriber came from }}
    {{script}}
</form>

{{#if error}}
<p class="main-error">{{ error.message }}</p>
{{/if}}