{{#if isSecondary}}
{{#foreach navigation}}
<a class="mobile-nav-menu__social-media-item" href="{{url}}" aria-label="{{label}}">
    <svg>
        <title>{{label}}</title>
        <use href="#{{slug}}"></use>
    </svg>
</a>
{{/foreach}}
{{else}}
{{!-- Mobile Navbar --}}
<nav class="navbar-mobile">
    <div class="navbar-mobile__left">
        <button class="navbar-mobile__hamburger-btn" data-target="menu" aria-label="menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a class="navbar-mobile__site-title--serif" href="{{@site.url}}" aria-labelledby="site-title">
            {{#if @site.icon}} <img src="{{@site.icon}}" alt="">{{/if}}
            <p class="{{#is "home"}}site-title{{/is}}" id="site-title-mobile">{{@site.title}}</p>
        </a>
    </div>
    <div class="navbar-mobile__right">
        <button class="color-mode-btn--sun" aria-label="Toggle dark or bright mode">
            <svg>
                <title>Bright Mode</title>
                <use href="#sun"></use>
            </svg>
        </button>
        <button class="color-mode-btn--moon" aria-label="Toggle dark or bright mode">
            <svg>
                <title>Dark Mode</title>
                <use href="#moon"></use>
            </svg>
        </button>
        <button class="navbar-mobile__search-btn" data-target="modal-search" aria-label="Search {{@site.title}}">
            <svg>
                <title>Search {{@site.title}}</title>
                <use href="#search"></use>
            </svg>
        </button>
    </div>
</nav>
{{!-- Mobile Navbar --}}

{{!-- Mobile Nav Menu --}}
<div class="mobile-nav-menu" id="menu" aria-expanded="false" aria-hidden="true">
    <div class="mobile-nav-menu__inner">
        <a href="{{@site.url}}">
            <p class="mobile-nav-menu__site-title--serif">{{@site.title}}</p>
        </a>
        {{#if @site.description}}
        <p class="mobile-nav-menu__site-description">{{@site.description}}</p>
        {{/if}}
        {{!-- Main Navigation --}}
        {{#if @site.navigation}}
        <ul class="mobile-nav-menu__main-nav">
            {{#foreach navigation}}
            <li class="mobile-nav-menu__main-nav-list-item"><a href="{{url}}"
                    class="mobile-nav-menu__main-nav-link hvr-underline-from-left nav-{{slug}} {{#if current}}nav-current{{/if}}">{{label}}
                </a></li>
            {{/foreach}}
        </ul>
        {{/if}}
        {{!-- End Main Navigation --}}
        {{!-- Social Media  --}}
        {{#has any="@site.twitter, @site.facebook"}}
        <div class="mobile-nav-menu__social-media">
            {{#if @site.twitter}}
            <a class="mobile-nav-menu__social-media-item twitter" href="{{twitter_url @site.twitter}}"
                aria-label="Twitter">
                <svg>
                    <title>Twitter</title>
                    <use href="#twitter"></use>
                </svg>
            </a>
            {{/if}}
            {{#if @site.facebook}}
            <a class="mobile-nav-menu__social-media-item facebook" href="{{facebook_url @site.facebook}}"
                aria-label="Facebook">
                <svg>
                    <title>Facebook</title>
                    <use href="#facebook"></use>
                </svg>
            </a>
            {{/if}}
            {{#if @labs.subscribers}}
            <button class="navbar-subscribe-btn nav-item" data-id="subscribe" aria-label="Subscribe">
                <svg>
                    <title>Subscribe</title>
                    <use href="#clipboard"></use>
                </svg>
            </button>
            {{/if}}
        </div>
        {{/has}}
        {{!-- End Social Media --}}
    </div>
</div>
{{!-- Mobile Nav Menu --}}

{{!-- Navbar --}}
<nav class="navbar">
    <div class="navbar__left">
        <a class="navbar__brand--serif" href="{{@site.url}}" aria-labelledby="site-title">
            {{#if @site.icon}} <img src="{{@site.icon}}" alt="">{{/if}}
            <p class="{{#is "home"}}site-title{{/is}}" id="site-title">{{@site.title}}</p>
        </a>
    </div>

    <div class="navbar__center">
        {{#if @site.navigation}}
        <ul class="navbar__ul">
            {{#foreach navigation}}
            <li class="navbar__list-item"><a href="{{url}}"
                    class="navbar__list-link hvr-underline-from-left nav-{{slug}} {{#if current}}nav-current{{/if}}">{{label}}</a>
            </li>
            {{/foreach}}
        </ul>
        {{/if}}
    </div>

    <div class="navbar__right">
        {{#if @site.twitter}}
        <a class="navbar__right-item twitter" href="{{twitter_url @site.twitter}}" aria-label="Twitter">
            <svg>
                <title>Twitter</title>
                <use href="#twitter"></use>
            </svg>
        </a>
        {{/if}}
        {{#if @site.facebook}}
        <a class="navbar__right-item facebook" href="{{facebook_url @site.facebook}}" aria-label="Facebook">
            <svg>
                <title>Facebook</title>
                <use href="#facebook"></use>
            </svg>
        </a>
        {{/if}}
        {{#if @labs.subscribers}}
        <button class="navbar__right-item" data-id="subscribe" aria-label="Subscribe">
            <svg>
                <title>Subscribe</title>
                <use href="#clipboard"></use>
            </svg>
        </button>
        {{/if}}
        <button class="color-mode-btn--sun" aria-label="Toggle dark or bright mode">
            <svg>
                <title>Bright Mode</title>
                <use href="#sun"></use>
            </svg>
        </button>
        <button class="color-mode-btn--moon" aria-label="Toggle dark or bright mode">
            <svg>
                <title>Dark Mode</title>
                <use href="#moon"></use>
            </svg>
        </button>
        <button class="navbar__right-item--search" data-target="modal-search" aria-label="Search {{@site.title}}">
            <svg>
                <title>Search {{@site.title}}</title>
                <use href="#search"></use>
            </svg>
        </button>
    </div>
</nav>
{{!-- Fixed Navbar --}}
{{/if}}