{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{! Hero }}
{{#if @site.cover_image}}
<style type="text/css">
    .hero {
        background-image: url({{img_url @site.cover_image size='xl'}});
    }

    @media(max-width: 1000px) {
        .hero {
            background-image: url({{img_url @site.cover_image size='l'}});
            background-image: -webkit-image-set(url({{img_url @site.cover_image size='l'}}) 1x,
                url({{img_url @site.cover_image size='xl'}}) 2x);
            background-image: image-set(url({{img_url @site.cover_image size='l'}}) 1x,
                url({{img_url @site.cover_image size='xl'}}) 2x);
        }

    }

    @media(max-width: 600px) {
        .hero {
            background-image: url({{img_url @site.cover_image size='m'}});
            background-image: -webkit-image-set(url({{img_url @site.cover_image size='m'}}) 1x,
                url({{img_url @site.cover_image size='l'}}) 2x);
            background-image: image-set(url({{img_url @site.cover_image size='m'}}) 1x,
                url({{img_url @site.cover_image size='l'}}) 2x);
        }
    }
</style>
{{/if}}
<section class="hero">
    <div class="hero__overlay">
        <div class="hero__top">
            <div class="hero__text-container">
                <h1 class="hero__site-title">{{@site.title}}</h1>
                <h2 class="hero__site-description">{{@site.description}}
                </h2>
            </div>
        </div>
    </div>
</section>

{{#get "posts" include="tags" limit="3" filter="featured:true" as |featured|}}
{{#if featured}}
<div class="main--outer-container">
    <div class="main--inner-container">
        <h2 class="main__header--serif--underline">Featured</h2>
        <section class="grid-container-home">
            {{#foreach featured}}
            {{> "card"}}
            {{/foreach}}
        </section>
    </div>
</div>
{{/if}}
{{/get}}
{{!-- Hero  --}}


<main class="main">
    {{!-- Latest --}}
    {{#get "posts" limit="5" include="tags" filter="featured:false+tag:-publications+tag:-presentations+tag:-outreach+tag:-teaching+tag:-dissertation" as |latest|}}
    {{#if latest}}
    <div class="main--outer-container">
        <div class="main--inner-container">
            <a class="main__read-more" href="/page/2/">
                <h2 class="main__header--serif--underline">Latest</h2>
                <svg aria-label="See more posts">
                    <use href="#arrow-right"></use>
                </svg>
            </a>
            <section class="grid-container-home">
                {{#foreach latest}}
                {{> "card"}}
                {{/foreach}}
            </section>
        </div>
    </div>
    {{/if}}
    {{/get}}
    {{!-- Latest --}}

    {{!-- Publications --}}
    {{#get "posts" limit="5" include="tags" filter="featured:false+tag:publications+tag:-presentations+tag:-outreach+tag:-teaching+tag:-dissertation" as |publications|}}
    {{#if publications}}
    <div class="main--outer-container">
        <div class="main--inner-container">
            <a class="main__read-more" href="/tag/publications/">
                <h2 class="main__header--serif--underline">Publications</h2>
                <svg aria-label="See more publications">
                    <use href="#arrow-right"></use>
                </svg>
            </a>
            <section class="grid-container-home">
                {{#foreach publications}}
                {{> "card"}}
                {{/foreach}}
            </section>
        </div>
    </div>
    {{/if}}
    {{/get}}
    {{!-- Publications --}}

    {{!-- Presentations --}}
    {{#get "posts" limit="5" include="tags" filter="featured:false+tag:presentations+tag:-publications+tag:-outreach+tag:-teaching+tag:-dissertation" as |presentations|}}
    {{#if presentations}}
    <div class="main--outer-container">
        <div class="main--inner-container">
            <a class="main__read-more" href="/tag/presentations/">
                <h2 class="main__header--serif--underline">Presentations</h2>
                <svg aria-label="See more presentations">
                    <use href="#arrow-right"></use>
                </svg>
            </a>
            <section class="grid-container-home">
                {{#foreach presentations}}
                {{> "card"}}
                {{/foreach}}
            </section>
        </div>
    </div>
    {{/if}}
    {{/get}}
    {{!-- Presentations --}}

    {{!-- Teaching --}}
    {{#get "posts" limit="5" include="tags" filter="featured:false+tag:teaching+tag:-publications+tag:-presentations+tag:-outreach+tag:-dissertation" as |teaching|}}
    {{#if teaching}}
    <div class="main--outer-container">
        <div class="main--inner-container">
            <a class="main__read-more" href="/tag/teaching/">
                <h2 class="main__header--serif--underline">Teaching</h2><svg aria-label="See more teaching"><use href="#arrow-right"></use></svg>
            </a>
            <section class="grid-container-home">
                {{#foreach teaching}}
                {{> "card"}}
                {{/foreach}}
            </section>
        </div>
    </div>
    {{/if}}
    {{/get}}
    {{!-- Teaching --}}

    {{!-- Outreach --}}
    {{#get "posts" limit="5" include="tags" filter="featured:false+tag:outreach+tag:-publications+tag:-presentations+tag:-teaching+tag:-dissertation" as |outreach|}}
    {{#if outreach}}
    <div class="main--outer-container">
        <div class="main--inner-container">
            <a class="main__read-more" href="/tag/outreach/">
                <h2 class="main__header--serif--underline">Outreach</h2>
                <svg aria-label="See more outreach">
                    <use href="#arrow-right"></use>
                </svg>
            </a>
            <section class="grid-container-home">
                {{#foreach outreach}}
                {{> "card"}}
                {{/foreach}}
            </section>
        </div>
    </div>
    {{/if}}
    {{/get}}
    {{!-- Outreach --}}

    {{!-- Dissertation --}}
    {{#get "posts" limit="5" include="tags" filter="featured:false+tag:dissertation+tag:-publications+tag:-presentations+tag:-teaching" as |dissertation|}}
    {{#if dissertation}}
    <div class="main--outer-container">
        <div class="main--inner-container">
            <a class="main__read-more" href="/tag/dissertation/">
                <h2 class="main__header--serif--underline">Dissertation</h2>
                <svg aria-label="See more dissertation">
                    <use href="#arrow-right"></use>
                </svg>
            </a>
            <section class="grid-container-home">
                {{#foreach dissertation}}
                {{> "card"}}
                {{/foreach}}
            </section>
        </div>
    </div>
    {{/if}}
    {{/get}}
    {{!-- Dissertation --}}

    {{!-- Subscribe --}}
    {{#if @labs.subscribers}}
    <div class="outer-container">
        <div class="inner-container">
            {{> "subscribe_inner"}}
        </div>
    </div>
    {{/if}}
    {{!-- Subscribe --}}
</main>