<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{meta_title}}</title>

    {{!-- CSS  --}}
    <link rel="stylesheet" href="{{asset 'css/style.css'}}">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap" rel="stylesheet">
    <style>
        @font-face {
            font-family: 'Fira Sans';
            src: url({{asset 'fonts/FiraSans-Regular.woff2'}}) format('woff2'),
            url({{asset 'fonts/FiraSans-Regular.woff'}}) format('woff');
        }

        @font-face {
            font-family: 'Fira Sans';
            src: url({{asset 'fonts/FiraSans-Bold.woff2'}}) format('woff2'),
            url({{asset 'fonts/FiraSans-Bold.woff'}}) format('woff');
            font-weight: 700;
        }

        @font-face {
            font-family: 'Fira Sans';
            src: url({{asset 'fonts/FiraSans-Italic.woff2'}}) format('woff2'),
            url({{asset 'fonts/FiraSans-Italic.woff'}}) format('woff');
            font-style: italic;
        }

        @font-face {
            font-family: 'Fira Sans';
            src: url({{asset 'fonts/FiraSans-BoldItalic.woff2'}}) format('woff2'),
            url({{asset 'fonts/FiraSans-BoldItalic.woff'}}) format('woff');
            font-weight: 700;
            font-style: italic;
        }

        body {
            font-family: sans-serif;
        }

        .fonts-loaded body {
            font-family: 'Fira Sans', sans-serif;
        }
    </style>
    <script>
        (function () {
            // Optimization for Repeat Views
            if (sessionStorage.fontsLoadedFoutWithClass) {
                document.documentElement.className += " fonts-loaded";
                return;
            }
            if ("fonts" in document) {
                Promise.all([
                    document.fonts.load("1em 'Fira Sans'"),
                    document.fonts.load("700 1em 'Fira Sans'"),
                    document.fonts.load("italic 1em 'Fira Sans'"),
                    document.fonts.load("italic 700 1em 'Fira Sans'")
                ]).then(function () {
                    document.documentElement.className += " fonts-loaded";
                    // Optimization for Repeat Views
                    sessionStorage.fontsLoadedFoutWithClass = true;
                });
            }
        })();
    </script>
    {{!-- Output SEO + Meta data and other settings by Ghost --}}
    {{ghost_head}}
</head>

<body class="{{body_class}}">
    {{!-- SVG Sprite  --}}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol viewBox="0 0 24 24" id="close">
            <path d="M6.34314575 6.34314575L17.6568542 17.6568542M6.34314575 17.6568542L17.6568542 6.34314575"></path>
        </symbol>
        <symbol viewBox="0 0 24 24" id="search">
            <path d="M14.4121122,14.4121122 L20,20" />
            <circle cx="10" cy="10" r="6" />
        </symbol>
        <symbol viewBox="0 0 24 24" id="folder">
            <path d="M3 5h6l1 2h11v12H3z" />
        </symbol>
        <symbol viewBox="0 0 24 24" id="arrow-right">
            <polyline points="13 7 18 12 13 17 13 17" />
            <polyline points="7 7 12 12 7 17 7 17" />
        </symbol>
        <symbol viewBox="0 0 24 24" id="grid-alt">
            <path d="M7 3V21" />
            <path d="M17 3V21" />
            <path d="M21 17L3 17" />
            <path d="M21 7L3 7" />
            <path d="M11 3L5 21M19 3L13 21M3 16L19 16M5 8L21 8" />
        </symbol>
        <symbol viewBox="0 0 24 24" id="hash">
            <line x1="4" y1="9" x2="20" y2="9"></line>
            <line x1="4" y1="15" x2="20" y2="15"></line>
            <line x1="10" y1="3" x2="8" y2="21"></line>
            <line x1="16" y1="3" x2="14" y2="21"></line>
        </symbol>
        <symbol viewBox="0 0 24 24" id="copy">
            <rect width="12" height="14" x="8" y="7" />
            <polyline points="16 3 4 3 4 17" />
        </symbol>
        <symbol viewBox="0 0 56.693 56.693" id="linkedin">
            <g>
                <path d="M30.071,27.101v-0.077c-0.016,0.026-0.033,0.052-0.05,0.077H30.071z" />
                <path d="M49.265,4.667H7.145c-2.016,0-3.651,1.596-3.651,3.563v42.613c0,1.966,1.635,3.562,3.651,3.562h42.12
		c2.019,0,3.654-1.597,3.654-3.562V8.23C52.919,6.262,51.283,4.667,49.265,4.667z M18.475,46.304h-7.465V23.845h7.465V46.304z
		 M14.743,20.777h-0.05c-2.504,0-4.124-1.725-4.124-3.88c0-2.203,1.67-3.88,4.223-3.88c2.554,0,4.125,1.677,4.175,3.88
		C18.967,19.052,17.345,20.777,14.743,20.777z M45.394,46.304h-7.465V34.286c0-3.018-1.08-5.078-3.781-5.078
		c-2.062,0-3.29,1.389-3.831,2.731c-0.197,0.479-0.245,1.149-0.245,1.821v12.543h-7.465c0,0,0.098-20.354,0-22.459h7.465v3.179
		c0.992-1.53,2.766-3.709,6.729-3.709c4.911,0,8.594,3.211,8.594,10.11V46.304z" />
            </g>
        </symbol>
        <symbol viewBox="0 0 56.693 56.693" id="twitter">
            <path d="M54.082,15.5495c-1.8115,0.8047-3.7597,1.3477-5.8051,1.5913c2.0874-1.25,3.6894-3.2305,4.4443-5.5918
	c-1.9531,1.1587-4.1152,2-6.418,2.4536c-1.8432-1.9643-4.4702-3.1919-7.3769-3.1919c-5.5816,0-10.1069,4.5254-10.1069,10.107
	c0,0.792,0.0893,1.563,0.2617,2.3027c-8.3999-0.4209-15.8477-4.4443-20.8325-10.5596c-0.8697,1.4922-1.3682,3.2281-1.3682,5.0811
	c0,3.5063,1.7842,6.5996,4.4961,8.4126c-1.6563-0.0532-3.2154-0.5073-4.5777-1.2647c-0.0009,0.042-0.0009,0.0845-0.0009,0.128
	c0,4.896,3.4839,8.9809,8.1079,9.9101c-0.8482,0.2305-1.7412,0.3545-2.6631,0.3545c-0.6519,0-1.2847-0.063-1.9019-0.1816
	c1.2867,4.0151,5.0191,6.9375,9.441,7.019c-3.459,2.711-7.8165,4.3267-12.5523,4.3267c-0.8154,0-1.6196-0.0484-2.4106-0.1411
	c4.4736,2.8681,9.7856,4.541,15.4931,4.541c18.5908,0,28.7559-15.4009,28.7559-28.7569c0-0.4375-0.0088-0.8745-0.0283-1.3076
	C51.0137,19.3571,52.728,17.5769,54.082,15.5495z" />
        </symbol>
        <symbol viewBox="0 0 56.693 56.693" id="facebook">
            <path d="M40.43,21.739h-7.645v-5.014c0-1.883,1.248-2.322,2.127-2.322c0.877,0,5.395,0,5.395,0V6.125l-7.43-0.029
	c-8.248,0-10.125,6.174-10.125,10.125v5.518h-4.77v8.53h4.77c0,10.947,0,24.137,0,24.137h10.033c0,0,0-13.32,0-24.137h6.77
	L40.43,21.739z" />
        </symbol>
        <symbol viewBox="0 0 24 24" id="clipboard">
            <polyline points="15 3 19 3 19 21 5 21 5 3 5 3 9 3" />
            <path
                d="M14,4 L10,4 C9.44771525,4 9,3.55228475 9,3 C9,2.44771525 9.44771525,2 10,2 L14,2 C14.5522847,2 15,2.44771525 15,3 C15,3.55228475 14.5522847,4 14,4 Z" />
        </symbol>
        <symbol viewBox="0 0 24 24" id="location">
            <polygon points="9 19 3 21 3 5 9 3 15 5 21 3 21 18.5 15 21" />
            <path stroke-linecap="round" d="M15 5L15 21M9 3L9 19" />
        </symbol>
        <symbol viewBox="0 0 24 24" id="website">
            <circle cx="12" cy="12" r="10" />
            <path stroke-linecap="round"
                d="M12,22 C14.6666667,19.5757576 16,16.2424242 16,12 C16,7.75757576 14.6666667,4.42424242 12,2 C9.33333333,4.42424242 8,7.75757576 8,12 C8,16.2424242 9.33333333,19.5757576 12,22 Z" />
            <path stroke-linecap="round" d="M2.5 9L21.5 9M2.5 15L21.5 15" />
        </symbol>
    </svg>
    {{!-- SVG Sprite  --}}

    {{navigation}}

    <div class="content-wrap">
        {{!-- All the main content is inserted here --}}
        {{{body}}}

        {{!-- Footer Module --}}
        <footer class="footer outer-container">
            <div class="inner-container ">
                <div class="grid-container">
                    <div class="footer-section flex-col">
                        <p class="home-page-section-header serif">About</p>
                        <a href="{{@site.url}}">{{@site.title}}</a>

                        {{#if @site.description}}
                        <p>{{@site.description}}</p>
                        {{/if}}

                        <div class=" footer-social flex-row">
                            {{#if @site.twitter}}
                            <a class="twitter" href="{{twitter_url}}" class="nav-item" aria-label="Twitter">
                                <svg>
                                    <title>Twitter</title>
                                    <use href="#twitter"></use>
                                </svg>
                            </a>
                            {{/if}}

                            {{#if @site.facebook}}
                            <a class="facebook" href="{{facebook_url}}" class="nav-item" aria-label="Facebook">
                                <svg>
                                    <title>Facebook</title>
                                    <use href="#facebook"></use>
                                </svg>
                            </a>
                            {{/if}}
                        </div>
                    </div>

                    {{#get "tags" include="count.posts" limit="10" order="count.posts desc"}}
                    {{#if tags}}
                    <div class="footer-section flex-col">
                        <p class="home-page-section-header serif">Topics</p>

                        {{#foreach tags}}
                        <a class="card-tag flex-row" href="{{url}}" aria-label="{{name}}">
                            <svg>
                                <use href="#hash"></use>
                            </svg>
                            <p>
                                {{name}}
                            </p>
                        </a>
                        {{/foreach}}
                    </div>
                    {{/if}}
                    {{/get}}

                    {{#get "posts" limit="5"}}
                    <div class="footer-section footer-latest flex-col">
                        <p class="home-page-section-header serif">Latest</p>
                        {{#foreach posts}}
                        <p class="footer-date"><time
                                datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM DD, YYYY"}}</time></p>
                        <a href="{{url}}">{{title}}</a>
                        {{/foreach}}
                    </div>
                    {{/get}}
                </div>
            </div>

            <div class="published-by-ghost flex-row">
                <p>
                    &copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a> | Published by <a
                        href="https://ghost.org/">Ghost</a>
                </p>
            </div>
        </footer>
        {{!-- Footer --}}

        {{!-- Subscribe Modal --}}
        {{#if @labs.subscribers}}
        <aside class="modal subscribe-modal outer-container" aria-expanded="false" aria-hidden="true">
            <div class="inner-container flex-col">
                <button class="modal-close" title="Close" aria-label="close">
                    <svg>
                        <use href="#close"></use>
                    </svg>
                </button>
                <div class="modal-inner">
                    <svg class="modal-icon" aria-hidden="true">
                        <use href="#clipboard"></use>
                    </svg>
                    <h3 class="serif">Subscribe</h3>
                    <p class="modal-tagline">Don't miss what happens next</p>
                    {{!-- subscribe_form partial --}}
                    {{subscribe_form input_class="modal-input"}}
                    {{!-- subscribe_form partial --}}
                </div>
            </div>
        </aside>
        {{/if}}
        {{!-- Subscribe Modal --}}
    </div>
    {{!-- end content-wrap --}}

    {{!-- Search Modal --}}
    <aside class="modal search-modal modal__search" aria-expanded="false" aria-hidden="true">
        <div class="inner-container flex-col">
            <button class="modal-close" title="Close" aria-label="close">
                <span></span>
                <span></span>
            </button>
            <div class="modal-inner">
                <div class="modal-form flex-row">
                    <input class="modal-input" id="search-input" type="text" placeholder="I'm looking for..."
                        aria-label="Enter your search term" autocomplete="off">
                    <button class="modal-btn" id="search-btn" type="button" aria-label="search">Search</button>
                </div>
                <div class="search-result-container">
                    <header class="search-result-header"></header>
                    <div class="flex-col" id="search-result"></div>
                </div>
            </div>
        </div>
    </aside>
    {{!-- Search Modal --}}


    <script src="https://unpkg.com/@tryghost/content-api@1.2.10/umd/content-api.min.js"></script>
    <script src="{{asset 'js/main.js'}}"></script>

    <script>
        (function (window, document) {
            var resizeImagesInGalleries = function resizeImagesInGalleries() {
                var images = document.querySelectorAll('.kg-gallery-image img');
                images.forEach(function (image) {
                    var container = image.closest('.kg-gallery-image');
                    var width = image.attributes.width.value;
                    var height = image.attributes.height.value;
                    var ratio = width / height;
                    container.style.flex = ratio + ' 1 0%';
                });
            };
            document.addEventListener('DOMContentLoaded', resizeImagesInGalleries);
        })(window, document);
    </script>

    <script>fluidvids.init({
            selector: ['iframe', 'object'],
            players: ['www.youtube.com', 'player.vimeo.com']
        });
    </script>

    {{!-- Ghost footer required, right before the closing body tag --}}
    {{ghost_foot}}

</body>

</html>