{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{navigation}}

{{! Hero }}
{{#get "posts" include="tags" limit="3" filter="featured:true" as |featured|}}
<div class="outer-container">
    <div class="inner-container">
        <section class="hero">
            <div class="hero-left flex-col">
                {{#if @site.cover_image}}
                <img class="hero-img" srcset="{{img_url @site.cover_image size="s"}} 300w,
                {{img_url @site.cover_image size="m"}} 600w,
                {{img_url @site.cover_image size="l"}} 1000w,
                {{img_url @site.cover_image size="xl"}} 2000w" sizes="(max-width: 1024px) 100vw, 50vw"
                    src="{{img_url @site.cover_image size="l"}}" alt="">
                {{else}} <div class="no-hero-img"></div>
                {{/if}}
                <div class="hero-text-container flex-col">
                    <h1 class="site-title serif">{{@site.title}}</h1>
                    <h2 class="site-description">{{@site.description}}
                    </h2>
                </div>
            </div>

            {{#if featured}}
            <div class="hero-right flex-col">
                <h2 class="home-page-section-header underline serif">Featured</h2>
                {{#foreach featured}}
                <article class="card featured card-1">
                    <a class="card-img" href="{{url}}" aria-label="{{title}}">
                        <img class="card-img" alt="" loading="lazy" srcset="{{img_url feature_image size="s"}} 300w,
            {{img_url feature_image size="m"}} 600w,
            {{img_url feature_image size="l"}} 1000w,
            {{img_url feature_image size="xl"}} 2000w" sizes="(max-width: 640px) 90vw,
            (max-width: 1280px) 50vw,
            1300px" src="{{img_url feature_image size="m"}}" />
                    </a>
                    <div class="card-body flex-col">
                        <div class="flex-row card-date-tag">
                            <p class="card-date"><time
                                    datetime="{{date published_at}}">{{date published_at timeago="true"}}</p>
                        </div>
                        <a href=" {{url}}">
                            <h3 class="card-title">{{title}}</h3>
                        </a>
                        <div class="flex-row card-date-tag">
                            {{#primary_tag}}
                            <a class="card-tag flex-row" href="{{url}}"><svg aria-hidden="true">
                                    <use href="#hash"></use>
                                    <p>{{name}}
                                    </p>
                            </a>
                            {{/primary_tag}}
                        </div>
                    </div>
                </article>
                {{/foreach}}
            </div>
            {{/if}}
        </section>
    </div>
</div>
{{/get}}
{{!-- Hero  --}}


<main class="main home">
    {{!-- Latest --}}
    {{#get "posts" limit="5" include="tags" filter="featured:false+tag:-publications" as |latest|}}
    {{#if latest}}
    <div class="outer-container">
        <div class="inner-container">
            <h2 class="home-page-section-header underline serif">Latest</h2>
            <section class="grid-container grid-container-home">
                {{#foreach latest}}
                {{> "card"}}
                {{/foreach}}
            </section>
        </div>
    </div>
    {{/if}}
    {{/get}}
    {{!-- Latest --}}

    {{!-- Publications --}}
    {{#get "posts" limit="5" include="tags" filter="featured:false+tag:publications+tag:-presentations+tag:-outreach" as |publications|}}
    {{#if publications}}
    <div class="outer-container">
        <div class="inner-container">
            <h2 class="home-page-section-header underline serif">Publications</h2>
            <section class="grid-container grid-container-home">
                {{#foreach publications}}
                {{> "card"}}
                {{/foreach}}
            </section>
        </div>
    </div>
    {{/if}}
    {{/get}}
    {{!-- Publications --}}

    {{!-- Presentations --}}
    {{#get "posts" limit="5" include="tags" filter="featured:false+tag:presentations+tag:-publications+tag:-outreach" as |presentations|}}
    {{#if presentations}}
    <div class="outer-container">
        <div class="inner-container">
            <h2 class="home-page-section-header underline serif">Presentations</h2>
            <section class="grid-container grid-container-home">
                {{#foreach presentations}}
                {{> "card"}}
                {{/foreach}}
            </section>
        </div>
    </div>
    {{/if}}
    {{/get}}
    {{!-- Presentations --}}

    {{!-- Outreach --}}
    {{#get "posts" limit="5" include="tags" filter="featured:false+tag:outreach+tag:-publications+tag:-presentations" as |outreach|}}
    {{#if outreach}}
    <div class="outer-container">
        <div class="inner-container">
            <h2 class="home-page-section-header underline serif">Outreach</h2>
            <section class="grid-container grid-container-home">
                {{#foreach outreach}}
                {{> "card"}}
                {{/foreach}}
            </section>
        </div>
    </div>
    {{/if}}
    {{/get}}
    {{!-- Outreach --}}

    {{!-- Subscribe --}}
    {{#if @labs.subscribe}}
    {{> "subscribe_inner"}}
    {{/if}}
    {{!-- Subscribe --}}
</main>